<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
if ($_name = $this->getRegistryName()): ?>
<ul class="messages"><li class="notice-msg"><ul><li><?php echo Mage::helper('adjgiftreg')->__('You are purchasing gifts for <strong>%s</strong>', $this->htmlEscape($_name))?></li></ul></li></ul>

<?php endif; ?>