<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_events = $this->getEvents(); ?>
<div class="page-title"> 
    <h1><?php echo $this->__('My Events') ?></h1>
</div>
<?php if( sizeof($_events->getItems()) > 0 ): ?>
    <table cellspacing="0" class="data-table" id="my-events-table">
    <col width="1%" />
    <col width="90"/>
    <col width="50"/>
    <col />
    <col width="50%"/> 
        <thead>
            <tr>
                <th><?php echo $this->__('Event ID') ?></th>
                <th><?php echo $this->__('Date') ?></th>
                <th><?php echo $this->__('Status') ?></th>
                <th><?php echo $this->__('Occasion') ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php $_odd = ''; ?>
            <?php foreach ($_events as $_e): ?>
                <tr class="<?php echo ($_odd = ($_odd ? 'odd' : '')) ?>">
                    <td><?php echo $_e->getId() ?>&nbsp;</td>
                    <td><?php echo Mage::helper('core')->formatDate($_e->getDate() . ' 12:00:00 PM', Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM) ?> </td>
                    <td><?php echo ucfirst($_e->getStatus()) ?></td>
                    <td><a href="<?php echo $this->getUrl('gifts/*/details', array('id'=>$_e->getId()))?>"><?php echo $this->htmlEscape($_e->getTitle()) ?></a></td>
                    <td class="last a-center">
                    <a href="<?php echo $this->getUrl('gifts/*/edit', array('id'=>$_e->getId()))?>"><?php echo $this->__('Edit Info') ?></a>
                    <span class="separator">|</span>
                    <a href="<?php echo $this->getUrl('gifts/*/details', array('id'=>$_e->getId()))?>"><?php echo $this->__('Manage Items') ?></a>
                    <span class="separator">|</span>
                    <a href="<?php echo $this->getUrl('gifts/*/share', array('id'=>$_e->getId())) ?>" ><?php echo $this->__('Share') ?></a> 
                    <span class="separator">|</span>
                    <a href="<?php echo $this->getUrl('gifts/*/thanks', array('id'=>$_e->getId()))?>"><?php echo $this->__('Gifts') ?></a>
                    <span class="separator">|</span>
                    <a href="<?php echo $this->getUrl('gifts/index/view', array('code'=>$_e->getSharingCode()))?>"><?php echo $this->__('Preview') ?></a>
                    <span class="separator">|</span>
                    <a class="link-remove" href="<?php echo $this->getUrl('gifts/*/remove', array('id'=>$_e->getId()))?>"  onclick="return confirm('<?php echo $this->__('Are you sure?') ?>')" ><?php echo $this->__('Remove') ?></a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<script type="text/javascript">decorateTable('my-events-table')</script>
<?php else: ?>
    <p><?php echo $this->__('Create you first gift registry right now!'); ?></p>
<?php endif; ?>
<div class="buttons-set">
    <button onclick="setLocation('<?php echo $this->getUrl('gifts/*/edit') ?>')" class="button" type="button"><span><span><?php echo $this->__('Create New') ?></span></span></button>
</div>