<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_collection = $this->getEvent()->getProductCollection(); ?>
<?php $_hlp = Mage::helper('adjgiftreg'); ?>
<?php if ($_collection->getSize()): ?>
<form action="<?php echo $this->getUrl('gifts/*/update') ?>" method="post">
<input type="hidden" name="event_id" value="<?php echo $this->getEvent()->getId() ?>">
<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <table cellspacing="0" width="100%" class="data-table box-table" id="giftreg-table">
    <col width="130" />
    <col />
    <col width="270"/>
    <col />
    <col />
    <col width="100"/> 
        <thead>
            <tr>
                <th><?php echo $this->__('Product') ?></th>
                <th><?php echo $this->__('Price') ?></th>
                <th><?php echo $this->__('Details') ?></th>
                <th><?php echo $this->__('Desired') ?></th>
                <th><?php echo $this->__('Received') ?></th>
                <th class="a-center">&nbsp;</th>
            </tr>
        </thead>

        <tbody>
        <?php $events = $this->getVisibleEvents($this->getEvent()->getId()); ?>
        <?php foreach($_collection as $item): $id = $item->getItemId()?>

            <tr>
                <td>
                    <div><a href="<?php echo $item->getProduct()->getProductUrl() ?>"><img src="<?php echo $this->getItemImageUrl($item); ?>" alt="<?php echo $this->htmlEscape($item->getProduct()->getName()) ?>" width="113" /></a></div>
                    <div><a href="<?php echo $item->getProduct()->getProductUrl() ?>" title="<?php echo $this->htmlEscape($item->getProduct()->getName()) ?>"><?php echo $this->htmlEscape($item->getProduct()->getName()) ?></a></div>
                    
                    <?php echo $this->getOptionsHtml($item) ?>
                    
                </td>
                <td>
                    <!-- for add all to cart button -->
                    <input type="hidden" name="items[]" value="<?php echo $id ?>" />
                    <input type="hidden" id="qty<?php echo $id?>" name="qty[<?php echo $id?>]" value="<?php echo max(1, $item->getNumWants() - $item->getNumHas())?>" />

                    <?php echo Mage::helper('core')->currency($this->getTotalPrice($item)) ?>
                    <?php // echo $this->getPriceHtml($item->getProduct()) ?>
                </td>
                <td align="left">
                    <!--<label ><?php echo $this->__('Priority') ?></label><br />-->
                    <select name="priority[<?php echo $id ?>]" title="<?php echo $this->__('Priority') ?>">
                       <?php foreach($_hlp->getPriorities() as $k=>$v):?>
                        <option value="<?php echo $k ?>" <?php if ($k == $item->getPriority()){ echo "selected"; } ?>><?php echo $this->htmlEscape($v) ?></option>
                       <?php endforeach; ?>
                    </select> 
                    <br />
                    <label><?php echo $this->__('Comments') ?></label><br />
                    <textarea name="description[<?php echo $id ?>]" rows="3" cols="3" style="width:97%;height:90px;" ><?php echo $this->htmlEscape($item->getDescr()) ?></textarea>
                </td>
                <td>
                   <input type="text" size="2" name="num_wants[<?php echo $id ?>]" value="<?php echo $item->getNumWants() ?>" title="<?php echo $this->__('Desired') ?>" class="input-text" />
                </td>
                <td style="white-space: nowrap;">
                    <?php if(Mage::getStoreConfig('adjgiftreg/general/dspl_invoices') == 1){
                    echo Mage::helper('adjgiftreg')->__('Invoiced:'); echo $item->getNumHas(); ?><br/><?php } ?>
                    <?php echo Mage::helper('adjgiftreg')->__('Total:') ?> <?php echo $item->getNumTotal() ?>
                </td>
                <td >
                <?php if (($item->getProduct()->isSaleable())&&($this->ifSimpleInStock($item))): ?>
                    <a href="<?php echo $this->getUrl('gifts/index/cart', array('id'=>$id)) ?>" class="link-cart"><?php echo $this->__('Add to Cart') ?></a><br /><br />
                <?php endif; ?>
                <?php if ($events->getSize()): ?> 
                Move to:<p>
                <select name="moveto[<?php echo $id ?>]">
                    <option value="0"><?php echo $this->__('Select ...') ?></option>
                    <?php foreach ($events as $event): ?>
                    <option value="<?php echo $event->getId()?>"><?php echo $this->htmlEscape($event->getTitle())?> <?php echo $this->__('Registry')?></option>
                    <?php endforeach ?>
                </select>
                </p>
                <?php endif; ?>
                
                    <a href="<?php echo $this->getUrl('gifts/*/removeItem', array('id'=>$id))?>" onclick="return confirm('<?php echo $this->__('Are you sure?') ?>')" class="link-remove" ><?php echo $this->__('Remove') ?></a>
                </td>
            </tr>
        <?php endforeach ?>
        </tbody>
    </table>
    <div class="buttons-set">
        <button class="button btn-add" onclick="this.form.action='<?php echo $this->getUrl('gifts/index/allcart', array('id'=>$this->getEvent()->getId())) ?>'; this.form.submit();" title="<?php echo $this->__('Add All to Cart') ?>" type="button"><span><span><?php echo $this->__('Add All to Cart') ?></span></span></button>        
        <button class="button btn-update" title="<?php echo $this->__('Update Gift Registry') ?>" onclick="this.name='do'" name="do" type="submit"><span><span><?php echo $this->__('Update Gift Registry') ?></span></span></button>
        <button class="button btn-share" title="<?php echo $this->__('Share Gift Registry') ?>" onclick="setLocation('<?php echo $this->getUrl('gifts/*/share', array('id'=>$this->getEvent()->getId())) ?>')" type="button"><span><span><?php echo $this->__('Share Gift Registry') ?></span></span></button>
    </div>
</form>

<div class="buttons-set">
    <p class="back-link">
        <a href="<?php echo $this->getUrl('gifts/*/list') ?>" class="left">&laquo; <?php echo $this->__('All My Events') ?></a> 
    </p>
</div>
<script type="text/javascript">decorateTable('giftreg-table')</script>
<?php else: ?>
    <p><?php echo $this->__('Start adding items to you registry just now! You can browse our <a href="%s">catalog</a> or check <a href="%s">the most popular</a> gifts.', Mage::getBaseUrl(), $this->getUrl('gifts/index/popular')) ?></p>
    <div class="button-set">
        <a href="<?php echo $this->getUrl('gifts/*/list') ?>" class="left">&laquo; <?php echo $this->__('All My Events') ?></a> 
    </div>
<?php endif ?>