<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
?>
<div class="block block-subscribe">
    <div class="block-title">
        <h1><?php echo $this->__('Find Gift Registry') ?></h1>
    </div>
    
    <form action="<?php echo $this->getUrl('gifts/index/result') ?>" method="get" id="adjgiftreg-quick-search">
        <div class="block-content">
            
            <label for="lname"><?php echo $this->__('Last Name') ?> <em>*</em></label>
            
            <div class="input-box">
                <input name="lname" id="lname" value="" title="<?php echo $this->__('Last Name') ?>"  class="input-text required-entry" type="text" />
            </div>
            
            <label for="fname"><?php echo $this->__('First Name') ?></label>
            <div class="input-box">
                <input name="fname" id="fname" value="" title="<?php echo $this->__('First Name') ?>"  class="input-text" type="text" />
            </div>
                    
            <div class="actions buttons-set">
                <button class="button" title="<?php echo $this->__('Find') ?>" type="submit"><span><span><?php echo $this->__('Find') ?></span></span></button>
            </div> 
        </div>
    </form>
    
<script type="text/javascript">
//<![CDATA[
    var adjgiftregQuickSearch = new VarienForm('adjgiftreg-quick-search');
//]]>
</script>
</div>