<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
?>
<div class="page-head button-level"> 
    <h3><?php echo $this->getEvent()->getFullTitle('<br/>') ?></h3>
    <?php if ($this->isOwner()): ?>
    <a href="<?php echo $this->getUrl('gifts/event/details', array('id'=>$this->getEvent()->getId())) ?>" class="link-cart"><?php echo $this->__('Edit My Registry') ?></a> 
    <?php endif; ?>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php if ($this->needPassword()): ?>
<form action="<?php echo $this->getUrl('gifts/*/auth', array('id'=>$this->getEvent()->getId())) ?>" method="post" id="form-pass">
<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <fieldset class="group-select">
        <h4 class="legend"><?php echo $this->__('This Registry is Password Protected'); ?></h4>
        <ul>
            <li>
                <div class="input-box">
                    <label for="password"><?php echo $this->__('Password') ?></label><br />
                    <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="required-entry input-text" />
                </div>
           </li>
        </ul>
    </fieldset>
    <div class="button-set">
        <button class="form-button" type="submit"><span><?php echo $this->__('Submit') ?></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-pass', true);
//]]>
</script>    
<?php else: ?>
<br/>
<?php $_collection = $this->getEvent()->getProductCollection(); ?>
<?php if (count($_collection)): ?>


<?php echo $this->getLinkNotice();?>
<br/><br/>
<form action="<?php echo $this->getUrl('gifts/*/allcart', array('id'=>$this->getEvent()->getId())) ?>" method="post" id="form-registry">
<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <table cellspacing="0" width="100%" class="data-table box-table" id="giftreg-table">
    <col width="10"/>
    <col width="130" />
    <col />
    <col width="30%"/>
    <col />
    <col />
    <col width="140"/> 
        <thead>
            <tr>
                <th class="a-center">&nbsp;</th>
                <th><?php echo $this->__('Product') ?></th>
                <th><?php echo $this->__('Price') ?></th>
                <th><?php echo $this->__('Details') ?></th>
                <th><?php echo $this->__('Desired') ?></th>
                <th><?php echo $this->__('Received') ?></th>
                <th class="a-center"><?php echo $this->__('Qty') ?></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach($_collection as $item):?>
            <tr>
                <td>
                    <input type="checkbox" checked="true" name="items[]" value="<?php echo $item->getItemId()?>" id="itm<?php echo $item->getItemId()?>">
                </td>
                <td>
                    <div><a href="<?php echo $item->getProduct()->getProductUrl() ?>"><img src="<?php echo $this->getItemImageUrl($item); ?>" alt="<?php echo $this->htmlEscape($item->getProduct()->getName()) ?>" width="113" /></a></div>
                    <div><a onclick="return confirm('<?php echo $this->__('Please return to this page to make purchases for the registry.') ?>')" href="<?php echo $item->getProduct()->getProductUrl() ?>" title="<?php echo $this->htmlEscape($item->getProduct()->getName()) ?>"><?php echo $this->htmlEscape($item->getProduct()->getName()) ?></a></div>
                    
                    
            <?php echo $this->getOptionsHtml($item) ?>
                    
                </td>
                <td>
                    <?php echo Mage::helper('core')->currency($this->getTotalPrice($item)) ?>
                    <?php // echo $this->getPriceHtml($item->getProduct()) ?>
                </td>
                <td align="left">
                    <?php echo $this->getPriority($item) ?>
                    <br/>
                    <?php echo $this->htmlEscape($item->getDescr()) ?>
                </td>
                <td align="center">
                   <?php echo $item->getNumWants() ?>
                </td>
                <td align="center" style="white-space: nowrap;">
                    <?php if(Mage::getStoreConfig('adjgiftreg/general/dspl_invoices') == 1){
                    echo Mage::helper('adjgiftreg')->__('Invoiced:'); echo $item->getNumHas(); ?><br/><?php } ?>
                    <?php echo Mage::helper('adjgiftreg')->__('Total:') ?> <?php echo $item->getNumTotal() ?>
                </td>
                <td class="a-center">
                <input type="text" id="qty<?php echo $item->getItemId()?>" name="qty[<?php echo $item->getItemId()?>]" value="<?php echo max(1, $item->getNumWants() - $item->getNumHas())?>" class="input-text qty" maxlength="12" >
                <br/>&nbsp;<br/>
                <?php


                ?>
                <?php if (($item->getProduct()->isSaleable())&&($this->ifSimpleInStock($item))): ?>
                    <a onclick="setLocation('<?php echo $this->getUrl('gifts/index/cart', array('id'=>$item->getItemId())) ?>'+'qty/' + $('qty<?php echo $item->getItemId()?>').value)" href="#" class="link-cart"><?php echo $this->__('Add to Cart') ?></a><br /><br />
                <?php endif; ?>
                </td>
            </tr>
        <?php endforeach ?>
        </tbody>
    </table>

<div class="buttons-set">
    <button class="button btn-share" title="<?php echo $this->__('Add Selected to Cart') ?>" type="submit"><span><span><?php echo $this->__('Add Selected to Cart') ?></span></span></button>
</div>

</form>

<script type="text/javascript">decorateTable('giftreg-table')</script>
<?php else: ?>
    <p><?php echo $this->isOwner() 
            ? $this->__('Start adding items to you registry just now! You can browse our <a href="%s">catalog</a> or check <a href="%s">the most popular</a> gifts.', Mage::getBaseUrl(), $this->getUrl('gifts/index/popular')) 
            : $this->__('This registry does not contain any items');
            ?></p>
<?php endif ?>

<?php endif; ?>