<?php $css_url=Mage::getBaseUrl('skin').'frontend/apa/default/presscontent/iframe/'; ?>
<?php $js_url=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)."presscontent/iframe/"; ?>
<?php $image_url=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'presscontent/';?>
<?php $icon_url=Mage::getBaseUrl('skin').'frontend/apa/default/images/'; ?>

<link href="http://fonts.googleapis.com/css?family=Lato:400,400italic,700,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="<?php echo $css_url.'social.css' ?>" type="text/css">
<link rel="stylesheet" href="<?php echo $css_url.'flexslider.css' ?>" type="text/css">
<link rel="stylesheet" href="<?php echo $css_url.'socialresponsive.css' ?>" type="text/css">
<script type="text/javascript" src="<?php echo $js_url.'jquery-1.7.1.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo $js_url.'flexslider.js' ?>"></script>
<script>
$j=jQuery.noConflict();
	$j(window).load(function(){
	  $j('.flexslider').flexslider({
	     animation:"fade",
	     controlNav: false, 
	     animationLoop: false, 
	     slideshow: false,
	  });
	  
	   var height=$j(".slides li").height();
	   
   $j('.flex-direction-nav a').css({'top':height/2,"display": "block","width":"44px","height":"44px","position":"absolute","z-index":"10","overflow":"hidden","opacity":"1","cursor":"pointer"});
   
	});
</script>



<?php
	$param_id=$this->getRequest()->getParams();
	$id=$param_id['id'];
	
	$temp_collection=Mage::getModel('presscontent/presscontent')->getCollection();
	$ids=array();
	$i=0;
	foreach($temp_collection as $item)
	{
		$ids[$i]= $item->getPresscontentId();
		$i++;
	}
	 $cur_key=array_search($id,$ids);
	 $cur_val=$ids[$cur_key];
	 end($ids);
	 $last_key=key($ids);
	 
	 $next_key=$cur_key+1;
	 if($next_key > $last_key)
	 {
	 	$next_key=0;
	 }
	 $next_val=$ids[$next_key];
	 $prev_key=$cur_key-1;
	 if($prev_key < 0)
	 {
		 $prev_key=$last_key;
	 }
	 $prev_val=$ids[$prev_key];
	
	$collection=Mage::getModel('presscontent/presscontent')->load($cur_val);
	$title=$collection->getTitle();
	$cover=$collection->getCover();
   	$image=$collection->getImage();
   	$created=$collection->getPublished();
   	$fb_url=$collection->getFbShrUrl();
   	$twt_url=$collection->getTwtShrUrl();
   	$content=$collection->getPresscontent();
	$image=explode("/",$image);
	
	if(empty($fb_url))
	{
		$fb_url="javascript:void(0)";
	}
	
	if(empty($twt_url))
	{
		$twt_url="javascript:void(0)";
	}
?>
<div class="light_box_wrap">
    <div class="left_social">
    	<div class="title_image"><img src="<?php echo $image_url.DS.$cover ?>"></div>
		<div id="top_wrap" class="cf">
			    <div id="lbShare">SHARE</div>
				<div class="mr_social_sharing_wrapper">
				<span class="mr_social_sharing"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//apabeauty.com/presscontent/index/viewsocial/?id=<?php echo $cur_val ?>" target="_blank class=" mr_social_sharing_popup_link"=""><img src="<?php echo $icon_url.'fbButton.png'?>" class="nopin" alt="Share on Facebook" title="Share on Facebook"></a></span><span class="mr_social_sharing"><a href="https://twitter.com/home?status=http%3A//apabeauty.com/presscontent/index/viewsocial/?id=<?php echo $cur_val ?>" target="_blank class=" mr_social_sharing_popup_link"=""><img src="<?php echo $icon_url.'twitterButton.png'?>" class="nopin" alt="Share on Twitter" title="Share on Twitter"></a></span></div>		    </div>
			<div class="break_line_01"></div>
			<div class="p_source"><b><?php echo $title;?></b></div>
			<div class="p_source_mid"></div>
		    <div class="p_date"><b><?php echo $created;?></b></div>
        <div class="break_line_02"></div>
        <!--<div id="btn_wrap" class="cf">
                <a href="<?php echo Mage::getUrl('presscontent/index/viewarticle', array('_query'=>'id='.$prev_val)); ?>" rel="prev">
       			<span id="prev_article">&lt; Previous</span></a>        
       				<a href="<?php echo Mage::getUrl('presscontent/index/viewarticle', array('_query'=>'id='.$next_val)); ?>" rel="next">
       				<span id="next_article">Next &gt;</span></a>
        </div> -->
    </div>
	<div class="right_social">
		<div class="flexslider">
		   <ul class="slides">
		   <?php foreach($image as $item) {  ?>
		 	<li class="flex-active-slide">
				 <img src="<?php echo $image_url.DS.$item ?>" alt="" draggable="false">
			</li>
			<?php } ?>
			</ul>
<ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li><li><a class="flex-next" href="#"></a></li></ul></div>
</div>
</div>
