<?php $css_url=Mage::getBaseUrl('skin').'frontend/apa/default/presscontent/'; ?>
<?php $js_url=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)."presscontent/"; ?>
<?php $image_url=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'presscontent/';?>

<!-- Loading All Js -->
<script type="text/javascript" src="<?php echo $js_url ?>jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo $js_url ?>jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="<?php echo $js_url ?>fancybox.js"></script>
<script type="text/javascript" src="<?php echo $js_url ?>jquery.isotope.js"></script>

<!-- Loading All JS Finish -->

<!-- Loading All CSS -->
<link rel="stylesheet" type="text/css" href="<?php echo $css_url ?>cmyk_ajax.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo $css_url ?>responsive.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo $css_url ?>press1.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo $css_url ?>fancybox.css" media="screen" />


<!-- Loading All CSS Finish -->


<div id="loadingBox_RA" ><div></div></div>
<div id="content" class="site-content">
<script type="text/javascript" src="<?php echo $js_url ?>nonAjax_handler.js"></script>
<style>
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 0;
        height: 0;
        margin-top: 0px;
        margin-bottom: 1%;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<!--
<div class="videoWrapper">
  <a href="{{store url=""}}">
    <iframe id="vzvd-2271002" title="vzaar video player" name="vzvd-2271002" src="//view.vzaar.com/2271002/player?border=false" frameborder="0" width="100%"></iframe>
  </a>
  <a href="{{store url=">
    <img src="{{skin url=""}}" alt="" width="1200" height="5" />
  </a>
</div>-->
<h1>Featured Press</h1>
<div class="videoWrapper">
    <a href="{{store url=""}}">
    <iframe src="//player.vimeo.com/video/164161607?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </a>
</div>
<h1 align="center">&quot;The Bright Smile&quot; - As Seen on Good Day New York - March 18, 2016</h1>
</br>
<h1>Press</h1><br />

<div id="wrapper">
	<ul id="container" style="min-height:1024px;">
	<?php
		$press_collection=Mage::getModel('presscontent/presscontent')->getCollection()
		->setOrder('publishdate', 'DESC')
		->addFieldToFilter('status',array('eq'=>'1'));
		foreach($press_collection as $item) {
		$image=$item->getCover();	
	?>
	    <li class="containerBox">
	    	<a href="<?php echo str_replace( "http://", "//", Mage::getUrl('presscontent/index/viewarticle', array('_query'=>'id='.$item->getId()))); ?>" class="fancybox no-ajaxy">
	    		<img src="<?php echo $image_url.$image ?>" alt="press_image" style='width:200px'>
	    	</a>
	    </li>
	    <?php } ?>
	</ul>
</div>

<script type="text/javascript">



$j=jQuery.noConflict();
$j(window).load(function()
{
  $j("#container img").css({'opacity':0});
  function removeScrollbars(){
      }
      
  function bringBackScrollbars(){
      }

  $j('.fancybox').fancybox({
       width:1050,
       type:'iframe',
       //height:300,
      //autoScale:true,
       scrolling:'no',
       //autoSize: true,
       //fitToView: false,
       'showCloseButton':false,
       onStart   : removeScrollbars,
       onClosed : bringBackScrollbars,
       onComplete : function() 
       {
        $j('#fancybox-frame').load(function() { 
          var height = $j(this).contents().find('li').height()+100;
		  	 var overlay_height = height + 146;
		  	 
		  	 var isMobile = (/iPhone|Android|iPod|BlackBerry/).test(navigator.userAgent);
		  	 var left_height=$j(this).contents().find('.left').height();
		  	 if(isMobile)
		  	 {
		  	 	 	height=((height+left_height)-50);
		  	 }
		  	 
		  	 var isIPad = (/iPad/).test(navigator.userAgent);
		  	 if(isIPad)
		  	 {
		  	 	var mql = window.matchMedia("(orientation: portrait)");
		  	 	if(mql.matches) {  
					height=left_height+height;
				}
		  	 }
       
          if (overlay_height < parseInt($j(document).height()))
            overlay_height = parseInt($j(document).height() + 130);

          var check_height = height + 73 + parseInt($j("#fancybox-wrap").css("top"));
          if (overlay_height < check_height) overlay_height = check_height;
         
				
            $j('#fancybox-content').height(height);
            $j('#fancybox-content').css({'margin-top':'0'});
            $j('#fancybox-overlay').height(overlay_height);
           // $j('#fancybox-content, #fancybox-outer').css({'min-width':924});
            $j('#fancybox-overlay').css({'min-width':1024});
            $j("#fancybox-loading").hide();
            $j("#fancybox-close").animate({"opacity":"1"}, 200);
            
            //$j('#fancybox-content iframe').contents().find('#customheader').hide();
            
            
        });
        
        
        
        }
  });
});

$j(window).load(function(){
 $j("#loadingBox_RA").fadeIn();
  var $container = $j('#container');
  $container.isotope({
      filter: '*',
      itemSelector: 'li.containerBox',
      layoutMode : 'masonry',
      animationOptions: {
          duration: 750,
          easing: 'linear',
         queue: false
      }
  }); 
  
   $container.imagesLoaded(function(){
                
                $container.isotope('reLayout');
                $j("#wrapper").css({opacity:1});
                $j("#loadingBox_RA").fadeOut();
                $j("#container img").css({'opacity':1});
   });
   
   
   /*$j(".fancybox").click(function(){
   	var ifrm=$j('#fancybox-content iframe').contents().find('#customheader');
   	console.log(ifrm);
   	alert(ifrm.html());
   	
	}); */
   

});

/*$j(window).load(function() {
    $j('.flex-direction-nav a').css('top',parseInt($j(window).width() * 0.7));    
});*/ 




var isMobile = (/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent);
var click_event = isMobile ? "touchstart" : "click";
</script>
</div>
