﻿<!--
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     n/a
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
--><!--@subject Notification: {{var message}}@-->

{{var message}}
<br/>

Register titel {{var title}},
<br/>

Frontend URL: {{var frontend_url}}
<br/>

Backend URL: {{var backend_url}}
<br/>

Datum (J-m-d): {{var date}}