﻿<!--
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     n/a
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
--><!--@subject Take a look at {{var customer.name}}'s gift registry @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}"  border="0"/></a></p></td>
                    </tr>
                </table>

            <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                        <p>Hoi,<br/>
                        Bekijk mijn cadeaulijstjesdiensten van {{var store_name}}.</p>

<p>{{var message}}</p>

                        {{var items}}
                        
                        {{depend password}}
<p>
Deze register is beveiligd met een wachtwoord. Maak alstublieft gebruik van de volgende wachtwoord: {{var password}}
</p>
                        {{/depend}}

                        <br/>

<strong><a href="{{var viewLink}}" style="color:#1E7EC8;">Bekijk alle cadeaulijstjesdiensten</a></strong></p>

                        <p>Dank u wel,<br/><strong>{{var customer.name}}</strong></p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
    </div>