<?php 
/**
 * Sumankcdotcom_AdvInstagram extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Sumankcdotcom
 * @package        Sumankcdotcom_AdvInstagram
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Post list template
 *
 * @category    Sumankcdotcom
 * @package     Sumankcdotcom_AdvInstagram
 * @author      Suman kc [SUMANKC.COM]
 */
?>
<style type="text/css">
    #instafeed{overflow:hidden;clear: both} display{inline-flex}
</style>

    <style>
      .block-title {
        text-align: center;
      }
      img {
        max-width: 100%;
      }
      .container {
        clear: both;
        display: table;
        height: auto;
        margin: 0 auto 50px;
        max-width: 1130px;
        width: 100%;
      }
      .ir {
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
      }
      .slider {
        border-top: 0 none;
        margin: 40px auto;
        max-width: 1130px;
        width: 100%;
      }
      .slick-slide {
      }
      .slick-slide > span {
        color: #1d3060;
        font-family: "Lato";
        font-size: 12px;
        letter-spacing: 0;
        margin-left: 2%;
      }
      .slick-slide img {
        padding: 2%;
        width: 96%;
      }
      .slick-prev::before, .slick-next::before {
        color: black;
      }
      .slick-slider {
        -moz-user-select: none;
        box-sizing: border-box;
        display: block;
        position: relative;
      }
      .slick-list {
        display: block;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
      }
      .slick-list:focus {
        outline: medium none;
      }
      .slick-list.dragging {
        cursor: pointer;
      }
      .slick-slider .slick-track, .slick-slider .slick-list {
        transform: translate3d(0px, 0px, 0px);
      }
      .slick-track {
        display: block;
        left: 0;
        position: relative;
        top: 0;
      }
      .slick-track::before, .slick-track::after {
        content: "";
        display: table;
      }
      .slick-track::after {
        clear: both;
      }
      .slick-loading .slick-track {
        visibility: hidden;
      }
      .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
        text-align: center;
      }
      [dir="rtl"] .slick-slide {
        float: right;
      }
      .slick-slide img {
        display: block;
      }
      .slick-slide.slick-loading img {
        display: none;
      }
      .slick-slide.dragging img {
        pointer-events: none;
      }
      .slick-initialized .slick-slide {
        display: block;
      }
      .slick-loading .slick-slide {
        visibility: hidden;
      }
      .slick-vertical .slick-slide {
        border: 1px solid transparent;
        display: block;
        height: auto;
      }
      .slick-arrow.slick-hidden {
        display: none;
      }
      .slick-loading .slick-list {
        background: #fff url("ajax-loader.gif") no-repeat scroll center center;
      }
      @font-face {
        font-family: "slick";
        font-style: normal;
        font-weight: normal;
        src: url("fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("fonts/slick.svg#slick") format("svg");
      }
      .slick-prev, .slick-next {
        border: medium none;
        color: transparent;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 20px;
        line-height: 0;
        outline: medium none;
        padding: 0;
        position: absolute;
        top: 39%;
        transform: translate(0px, -50%);
        width: 20px;
      }
      .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        outline: medium none;
      }
      .slick-prev:hover::before, .slick-prev:focus::before, .slick-next:hover::before, .slick-next:focus::before {
        opacity: 1;
      }
      .slick-prev.slick-disabled::before, .slick-next.slick-disabled::before {
        opacity: 0.25;
      }
      .slick-prev::before, .slick-next::before {
        -moz-osx-font-smoothing: grayscale;
        color: #000;
        font-family: "slick";
        font-size: 20px;
        line-height: 1;
        opacity: 0.75;
      }
      .slick-prev {
        background-color: transparent;
        background-image: url("http://apabeauty.com/skin/frontend/apa/default/images/arrow-sprite.gif");
        background-position: left center;
        background-repeat: no-repeat;
        left: -25px;
        width: 11px;
      }
      [dir="rtl"] .slick-prev {
        left: auto;
        right: -25px;
      }
      .slick-prev::before {
        content: "";
      }
      [dir="rtl"] .slick-prev::before {
        content: "";
      }
      .slick-next {
        background-color: transparent;
        background-image: url("http://apabeauty.com/skin/frontend/apa/default/images/arrow-sprite.gif");
        background-position: right center;
        background-repeat: no-repeat;
        right: -25px;
        width: 11px;
      }
      [dir="rtl"] .slick-next {
        left: -25px;
        right: auto;
      }
      .slick-next::before {
        content: "";
      }
      [dir="rtl"] .slick-next::before {
        content: "";
      }
      .slick-dotted.slick-slider {
        margin-bottom: 30px;
      }
      .slick-dots {
        bottom: -75px;
        display: block;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%;
      }
      .slick-dots li {
        cursor: pointer;
        display: inline-block;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        position: relative;
        width: 20px;
      }
      .slick-dots li button {
        background: transparent none repeat scroll 0 0;
        border: 0 none;
        color: transparent;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 20px;
        line-height: 0;
        outline: medium none;
        padding: 5px;
        width: 20px;
      }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: medium none;
      }
      .slick-dots li button:hover::before, .slick-dots li button:focus::before {
        opacity: 1;
      }
      .slick-dots li button::before {
        -moz-osx-font-smoothing: grayscale;
        color: black;
        content: "";
        font-family: "slick";
        font-size: 10px;
        height: 20px;
        left: 0;
        line-height: 20px;
        opacity: 0.25;
        position: absolute;
        text-align: center;
        top: 0;
        width: 20px;
      }
      .slick-dots li.slick-active button::before {
        color: black;
        opacity: 0.75;
      }
      .slider {
        width: 80%;
      }
    </style>




<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php 
    $post_type = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/post_type');
    $user_id = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/user_id');
    $access_token = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/access_token');
    $filter_post = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/filter_post');
    $limit = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/limit');
    $link_posts = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/link_posts');
    $caption = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/caption');
    $likes_count = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/likes_count');
    $comment_count = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/comment_count');

    $tagname = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/tag_name');
    $client_id = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/client_id');
    $resolution = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/resolution');
    $filter_posts = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/filter_posts');
?>
<?php if(!$filter_posts): ?>

    <div id="instafeed">
    <div class="regular slider">
  
    
    <script type="text/javascript">
        var templating = caption = likes = comment = '';
        <?php if($link_posts){?> 
            templating = '<a target="_blank" href="{{link}}"><img src="{{image}}" /></a>';
        <?php }else{?>
            templating = '<img src="{{image}}" />';
        <?php } ?>
        <?php if($caption){?> caption = '<span class="insta_caption">{{caption}}</span>'; <?php }?>
        <?php if($likes_count){?> likes = '<span class="insta_likes">{{likes}} Likes </span>'; <?php }?>
        <?php if($comment_count){?> comment = '<span class="insta_comment">{{comments}} Comments</span>'; <?php }?>
        templating = '<div class="individual-post">'+templating + caption + likes + comment +'</div>';
            var userFeed = new Instafeed({
                get: 'user',
                userId: "<?php echo $user_id; ?>",
                accessToken: "<?php echo $access_token; ?>",
                limit : "<?php echo $limit; ?>",
                resolution : "<?php echo $resolution ?>",
                template: templating
            });
            var feed = new Instafeed({
                get: 'tagged',
                tagName: "<?php echo $tagname; ?>",
                clientId: "<?php echo $client_id; ?>",
                limit : "<?php echo $limit; ?>",
                resolution : "<?php echo $resolution ?>",
                template: templating
            });
        <?php if($post_type=='account'){ ?> userFeed.run();<?php }elseif($post_type=='hashtag'){ ?>feed.run();<?php }?>
    </script>

<?php else: ?>
    <?php $_posts = $this->getPosts(); ?> <!--/ Fetches only the selected posts from backend -->
    <?php if ($_posts->getSize() > 0) :?>
            <!--- Individual Post--->
           
                <?php foreach ($_posts as $_post) : ?>
                    <?php 
                            $media_id = $_post->getMediaId();
                            /* Call Instagram API */
                            $url = 'https://api.instagram.com/v1/media/'.$media_id.'?access_token='.$access_token;
                            $data = file_get_contents($url);
                            $response = json_decode($data);
                            $image = $response->data->images->$resolution->url;
                            $likes = $response->data->likes->count;
                            $link = $response->data->link;
                            $insta_caption = htmlspecialchars($response->data->caption->text);
                            $username = $response->data->caption->from->username;
                            $comments = $response->data->comments->count;

                            echo '<div>';
                            if($link_posts){ echo '<a href="" target="_blank"><img src="'.$image.'"/></a>'; }else{ echo '<img src="'.$image.'"/>'; }
                            if($caption){
                                echo '<span class="insta_caption">'.$insta_caption.'</span>';
                            }if($likes_count){
                                echo '<span class="insta_likes"> '.$likes.' Likes </span>';
                            }if($comment_count){
                                echo '<span class="insta_comment"> '.$comments.' Comments</span>';
                            }
                            echo '</div>';
                        ?>
                <?php endforeach;?>
            <!--- End Individual Post--->
    </div></div>
    <?php else : ?>
        <?php echo Mage::helper('sumankcdotcom_advinstagram')->__('There are no posts at this moment');?>
    <?php endif;?>

<?php endif; ?>