<div class="header-wrapper">
    <header id="header" class="page-header">

        <div class="page-header-container">

            <a class="logo" href="<?php echo $this->getUrl('') ?>">
                <div id="apa-logo"></div>
<!--                <img src="--><?php //echo $this->getLogoSrc() ?><!--" alt="--><?php //echo $this->getLogoAlt() ?><!--" class="large" />-->
<!--                <img src="--><?php //echo $this->getLogoSrcSmall() ?><!--" alt="--><?php //echo $this->getLogoAlt() ?><!--" class="small" />-->
            </a>


            <?php // In order for the language switcher to display next to logo on smaller viewports, it will be moved here.
            // See app.js for details ?>
            <div class="store-language-container"></div>
        </div>
    </header>
    <!-- Skip Links -->

    <div class="skip-links">
        <a href="#header-nav" class="skip-link skip-nav">
            <span class="icon"></span>
            <span class="label"><?php echo $this->__('Menu'); ?></span>
        </a>

        <a href="#header-search" class="skip-link skip-search">
            <span class="label"><?php echo $this->__('SEARCH'); ?></span>
        </a>

        <div class="desktop-skip-search">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>

        <a href="#header-account" class="skip-link skip-account">
            <span class="label"><?php echo $this->__('My Account'); ?></span>
        </a>

        <!-- Cart -->

        <div class="header-minicart">
            <?php echo $this->getChildHtml('minicart_head'); ?>
        </div>

    </div>

    <!-- Search -->

    <div id="header-search" class="skip-content">
        <?php echo $this->getChildHtml('topSearch') ?>
    </div>

    <!-- Account -->

    <div id="header-account" class="skip-content">
        <?php echo $this->getChildHtml('topLinks') ?>
    </div>

    <!-- Cart -->

    <div id="header-cart" class="skip-content">
        <div class="mini-cart">
            <div class="menu-wrapper">
                <div class="menu cart-menu">
                    <div class="empty">Your cart is empty.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navigation -->

<div id="header-nav" class="skip-content">
    <?php echo $this->getChildHtml('topMenu') ?>
</div>

<?php echo $this->getChildHtml('topContainer'); ?>
