<?php if(Mage::helper('adminauditlog')->isEnable()){ ?>
    <input type="hidden" name="<?php echo $this->getNamePrefix() ?>[__empty]" value="1" id="<?php echo $this->getHtmlId() ?>" />
    <ul class="checkboxes">
        <?php foreach ($this->getLabels() as $name => $label): ?>
            <li>
                <input type="checkbox" value="1" name="<?php echo $this->getNamePrefix() ?>[<?php echo $name ?>]" id="<?php echo $this->getHtmlId() . '_' . $name ?>"<?php echo ($this->getIsChecked($name) ? ' checked="checked"' : '') ?>/><label for="<?php echo $this->getHtmlId() . '_' . $name ?>">
                    <?php echo $label ?>
                </label>
            </li>
            <?php endforeach;?>
    </ul>

    <script type="text/javascript">
        //<![CDATA[
        var AdminauditlogActionsLabel = $('<?php echo $this->getHtmlId() ?>').up('table').select('td.label label');
        if (AdminauditlogActionsLabel) {
            var AdminauditlogActions = $('<?php echo $this->getHtmlId() ?>').parentNode.select('ul.checkboxes input');
            if (AdminauditlogActions) {
                var AdminauditlogShouldBeChecked = true;
                Event.observe(AdminauditlogActionsLabel[0], 'click', function () {
                        for (var i = 0; i < AdminauditlogActions.length; i++) {
                            AdminauditlogActions[i].checked = AdminauditlogShouldBeChecked;
                        }
                        AdminauditlogShouldBeChecked = !AdminauditlogShouldBeChecked;
                });
            }
        }
        //]]>
    </script>
    <?php 
    }else{ ?>
    <strong class="required"><?php echo $this->__("Please enable extension"); ?></strong>
    <?php } ?>