<?php if($this->getItems()->getSize()): ?>
<div class="block block-related">
    <div class="block-title">
        <h2><?php echo $this->__('Related Products') ?></h2>
    </div>
    <div class="block-content">
        <div class="mini-products-list" id="block-related">
        <?php foreach($this->getItems() as $_item): ?>
            <div class="item">
                <div class="product">
                    <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(160) ?>" width="160" height="160" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" /></a>
                </div>
            </div>
        <?php endforeach ?>
        </div>
    </div>
</div>
<?php endif ?>
