<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="product-view">
    <div class="product-essential">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>

            <div class="product-img-box">
                <div class="product-name">
                    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                </div>
                <?php echo $this->getChildHtml('media') ?>
            </div>

            <div class="product-shop">
                <div class="product-name">
                    <span class="h1"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
                </div>

                <div class="price-info">
                    <?php echo $this->getPriceHtml($_product); ?>
                    <?php echo $this->getChildHtml('bundle_prices') ?>
                    <?php echo $this->getTierPriceHtml() ?>
                </div>

                <div class="sku"><?php echo _('SKU') . ": " . $_helper->productAttribute($_product, $_product->getSku(), 'sku'); ?></span></div>

                <div class="add-to-cart-wrapper">
                    <?php echo $this->getChildHtml('product_type_data') ?>
                    <?php echo $this->getChildHtml('extrahint') ?>

                    <?php if (!$this->hasOptions()):?>
                        <div class="add-to-box">
                            <?php if($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>
                                <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                    <span class="or"><?php echo $this->__('OR') ?></span>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('addto') ?>
                            <?php if ($_product->getShortDescription()):?>
                                <div class="short-description">
                                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></div>
                                </div>
                            <?php endif;?>
                            <?php if ($_product->getBulletDescription()):?>
                                <div id="product-bullet-description" class="description">
                                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getBulletDescription(), 'bullet_description') ?></div>
                                </div>
                            <?php endif;?>
                            <?php if ($_product->getDescription()):?>
                                <a href="#product-description" class="skip-link skip-description">More Details</a>
                                <div id="product-description" class="description skip-content">
                                    <?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?>
                                </div>
                            <?php endif;?>
                            <?php if ($_product->getIngredientsDescription()):?>
                                <a href="#product-ingredients-description" class="skip-link skip-description">Ingredients</a>
                                <div id="product-ingredients-description" class="description skip-content">
                                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getIngredientsDescription(), 'ingredients_description') ?></div>
                                </div>
                            <?php endif;?>
                            <?php echo $this->getChildHtml('sharing') ?>
                        </div>
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                    <?php elseif (!$_product->isSaleable()): ?>
                        <div class="add-to-box">
                            <?php echo $this->getChildHtml('addto') ?>
                            <?php if ($_product->getShortDescription()):?>
                                <div class="short-description">
                                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></div>
                                </div>
                            <?php endif;?>
                            <?php if ($_product->getBulletDescription()):?>
                                <div id="product-bullet-description" class="description">
                                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getBulletDescription(), 'bullet_description') ?></div>
                                </div>
                            <?php endif;?>
                            <?php if ($_product->getDescription()):?>
                                <a href="#product-description" class="skip-link skip-description">More Details</a>
                                <div id="product-description" class="description skip-content">
                                    <?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?>
                                </div>
                            <?php endif;?>
                            <?php if ($_product->getIngredientsDescription()):?>
                                <a href="#product-ingredients-description" class="skip-link skip-description">Ingredients</a>
                                <div id="product-ingredients-description" class="description skip-content">
                                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getIngredientsDescription(), 'ingredients_description') ?></div>
                                </div>
                            <?php endif;?>
                            <?php echo $this->getChildHtml('sharing') ?>
                        </div>
                    <?php endif; ?>
                </div>

                <?php echo $this->getChildHtml('alert_urls') ?>

                <?php echo $this->getChildHtml('other');?>

                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php endif;?>

                <div class="product-features">
                    <?php echo $this->getChildHtml('features'); ?>
                </div>

            </div>

            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif;?>
        </form>
        <script type="text/javascript">
        //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                       form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
        //]]>
        </script>
    </div>

    <div class="product-collateral">
        <?php echo $this->getChildHtml('reviews'); ?>
        <?php echo $this->getChildHtml('review_form'); ?>

        <?php echo $this->getChildHtml('related_products') ?>
    </div>

    <?php echo $this->getChildHtml('upsell_products') ?>
    <?php echo $this->getChildHtml('product_additional_data') ?>

</div>
