<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
$_e = $this->getEvent()?>
<div class="page-head button-level">
    <h3><?php echo $this->htmlEscape($_e->getTitle()) ?> (<?php echo Mage::helper('core')->formatDate($_e->getDate() . '12:00:00 PM', Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM)?>)</h3>
    <?php echo $this->getChildHtml('emenu')?>
</div>


<br />

<div class="dashboard">
    <div class="box-account box-info">
        <div class="col2-set">
            <div class="col-1">
                <div class="box">
                    <div class="box-title">
                        <h3><?php echo $this->__('Registrant');?></h3>
                    </div>
                    <div class="box-content">
                        <p>
                            <?php echo $this->htmlEscape($_e->getFname()) ?>&nbsp;<?php echo $this->htmlEscape($_e->getLname()) ?>
                        </p>
                    </div>
                </div>
            </div>
            <?php if ($_e->getFname2() || $_e->getLname2()): ?>
            <div class="col-2">
                <div class="box">
                    <div class="box-title">
                        <h3><?php echo $this->__('Co-Registrant');?></h3>
                    </div>
                    <div class="box-content">
                        <p>
                            <?php echo $this->htmlEscape($_e->getFname2()) ?>&nbsp;<?php echo $this->htmlEscape($_e->getLname2()) ?>
                        </p>
                    </div>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>