<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
?>
<script>
var baseRegistryLink = '';

function showRegistries(link){
    baseRegistryLink = link;
<?php if ($this->getEvents()->count() > 1): ?>
    $('adjgiftreg_popup').show();
<?php else: ?>
    addToGiftRegistry(0);
<?php endif ?>
    return false;
}

function addToGiftRegistry(e){
    baseRegistryLink = baseRegistryLink + 'event/' + e;
    var form = $('product_addtocart_form');
    var oldFormLink = form.action;
    if (form){
        form.action = baseRegistryLink;
        if(!productAddToCartForm.submit()) {
            form.action = oldFormLink;
        }
    }
    else{
        document.location.href = baseRegistryLink;
    }
        
    return false;
}

</script>

<div id="adjgiftreg_popup" style='display: none;'>
    <div class='box base-mini'>
        <div class='head'>
            <h4><?php echo $this->helper('adjgiftreg')->__('Add to Registry') ?></h4>
            <div class="btn-close">
                <a href="#" onclick="$('adjgiftreg_popup').hide(); return false;"><img src="<?php echo $this->getSkinUrl('images/btn_window_close.gif') ?>" alt="<?php echo $this->__('Close') ?>" /></a>
            </div> 
        </div>
        <div class='content'>
            <p>
            <?php foreach ($this->getEvents() as $event): ?>
            <a href="#" onclick="return addToGiftRegistry(<?php echo $event->getId()?>)"><?php echo $this->htmlEscape($event->getFullTitle())?></a>
            <br/>
            <?php endforeach ?>
            </p>
        </div>
    </div>
</div> 

<style>
#adjgiftreg_popup {
    background:#FFF4E9 none repeat scroll 0 0;
    left:50%;
    margin-left:-225px;
    margin-top: -100px;
    position:fixed;
    top:50%;
    width: 400px;
    z-index:1000;
    padding: 15px;
    border: 2px solid #0A263C;
}
*html #adjgiftreg_popup {
    position:absolute;
    top: expression(350+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px'); 
}
*html body
{
    background: url('/n.gif') no-repeat;
    background-attachment: fixed;
}

#adjgiftreg_popup h4 {
    background-image:url(<?php echo $this->getSkinUrl('images/icon_table.gif') ?>);
    float: left;
}

#adjgiftreg_popup .btn-close{
	clear:right;
	text-align:right;
}
		
#adjgiftreg_popup .content{
	clear:both;
	text-align: left;
}
</style>