<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
$cnt = $this->getCollection()->count() ?>
<div style="border:1px solid #bebcb7; padding:15px; background:#f8f7f5;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
    <?php $i=0; foreach($this->getCollection() as $item): $i++ ?>
        <td width="32%">
            <p align="center"><a href="<?php echo $item->getProduct()->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($item->getProduct(), 'small_image')->resize(135); ?>" style="border:1px solid #ccc;" width="135" alt="" /></a></p>
            <p align="center"><a href="<?php echo $item->getProduct()->getProductUrl() ?>" style="color:#203548;"><strong><?php echo $this->htmlEscape($item->getProduct()->getName()) ?></strong></a></p>
            <p align="center">
            <?php echo $this->__('Priority') ?>:<?php echo $this->getPriority($item) ?>
            <?php if ($this->getGiftDescr()): ?>
                <br />
                <?php echo $this->__('Comment') ?>:
                <br /><?php echo $this->htmlEscape($item->getGiftDescr()) ?>
            <?php endif; ?>
            </p>
            <p align="center"><a href="<?php echo $item->getProduct()->getProductUrl() ?>" style="color:#1E7EC8;"><?php echo $this->__('View Product') ?></a> <small><?php if($item->getProduct()->getIsSalable()):?>|</small> <a href="<?php echo $this->getUrl('gifts/index/cart', array('id'=>$item->getItemId())) ?>" style="color:#DC6809;"><strong><?php echo $this->__('Add to Cart') ?></strong></a><?php endif;?>
            </p></td>
        <?php if ($i%3!=0): ?>
            <td width="2%"></td>
        <?php else: ?>
           </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <?php if ($i < $cnt): ?>
               <tr>
            <?php endif ?>
        <?php endif ?>
    <?php endforeach ?>
</table>
</div>