<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
$_e = $this->getEvent(); ?>
<?php if ($this->isActive('edit')): ?>
<?php echo $this->__('Edit Info') ?>
<?php else: ?>
<a href="<?php echo $this->getUrl('gifts/*/edit', array('id'=>$_e->getId())) ?>" class="link-cart"><?php echo $this->__('Edit Info') ?></a> 
<?php endif?>
<?php if ($_e->getId()): ?>
<span class="separator">|</span>
<?php if ($this->isActive('details')): ?>
<?php echo $this->__('Manage Items') ?>
<?php else: ?>
<a href="<?php echo $this->getUrl('gifts/*/details', array('id'=>$_e->getId())) ?>" class="link-cart"><?php echo $this->__('Manage Items') ?></a> 
<?php endif?>
<span class="separator">|</span>
<?php if ($this->isActive('share')): ?>
<?php echo $this->__('Share') ?>
<?php else: ?>
<a href="<?php echo $this->getUrl('gifts/*/share', array('id'=>$_e->getId())) ?>" class="link-cart"><?php echo $this->__('Share') ?></a> 
<?php endif?>
<span class="separator">|</span>
<?php if ($this->isActive('thanks')): ?>
<?php echo $this->__('Gifts') ?>
<?php else: ?>
<a href="<?php echo $this->getUrl('gifts/*/thanks', array('id'=>$_e->getId())) ?>" class="link-cart"><?php echo $this->__('Gifts') ?></a> 
<?php endif?>
<span class="separator">|</span>
<?php if ($this->isActive('view')): ?>
<?php echo $this->__('Preview') ?>
<?php else: ?>
<a href="<?php echo $this->getUrl('gifts/index/view', array('code'=>$_e->getSharingCode())) ?>" class="link-cart"><?php echo $this->__('Preview') ?></a> 
<?php endif?>
<?php endif?>