<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
$_e = $this->getEvent(); ?>
<?php if ($this->getTitle()): ?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
    <?php echo $this->getChildHtml('emenu')?> 
</div>
<?php endif; ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('gifts/*/save', array('id'=>$_e->getId())) ?>" method="post" id="form-validate">
<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
<div class="fieldset">
    <h2 class="legend"><?php echo $this->__('Event Details'); ?></h2>
    <?php echo $this->__('Please provide in "%s" format',  $this->getDateFormatWithLongYear()) ?>
    <ul class="form-list">
        <li class="fields">
            <div>
                <div class="field">
                    <label class="required" for="type_id"><?php echo $this->__('Occasion') ?><em>*</em></label>
                    <div class="input-box">
                        <select id="type_id" name="type_id" title="<?php echo $this->__('Occasion') ?>" class="validate-select">
                           <option value=""><?php echo $this->__('Please select occasion') ?></option>
                           <?php foreach($_e->getTypes() as $k=>$v):?>
                            <option value="<?php echo $k ?>" <?php if($_e->getTypeId() == $k) echo 'selected'?>><?php echo $this->htmlEscape($v) ?></option>
                           <?php endforeach; ?>
                        </select>                
                    </div>
                </div>
                <div class="field">
                    <label class="required" for="date"><?php echo $this->__('Date') ?><em>*</em></label>
                    <div class="input-box">
                        <div class="input-range">
                            <?php echo $this->getDateInput($_e->getDate()) ?>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="fields">
            <div>
                <div class="field">
                    <label class="required" for="fname"><?php echo $this->__('Registrant First Name') ?><em>*</em></label>
                    <div class="input-box">
                        <input type="text" name="fname" value="<?php echo $this->htmlEscape($_e->getFname()) ?>" title="<?php echo $this->__('Registrant First Name') ?>" class="required-entry input-text" id="fname" />
                    </div>
                </div>
                <div class="field">
                    <label class="required" for="lname"><?php echo $this->__('Registrant Last Name') ?><em>*</em></label>
                    <div class="input-box">
                        <input type="text" name="lname" value="<?php echo $this->htmlEscape($_e->getLname()) ?>" title="<?php echo $this->__('Registrant Last Name') ?>" class="required-entry input-text" id="lname" />
                    </div>
                </div>
            </div>
        </li>

        <li class="fields">
            <div>
                <div class="field">
                    <label for="fname2"><?php echo $this->__('Co-Registrant First Name') ?> </label>
                    <div class="input-box">
                        <input type="text" name="fname2" value="<?php echo $this->htmlEscape($_e->getFname2()) ?>" title="<?php echo $this->__('Co-Registrant First Name') ?>" class="input-text" id="fname2" />
                    </div>
                </div>
                <div class="field">
                    <label for="lname2"><?php echo $this->__('Co-Registrant Last Name') ?> </label>
                    <div class="input-box">
                        <input type="text" name="lname2" value="<?php echo $this->htmlEscape($_e->getLname2()) ?>" title="<?php echo $this->__('Co-Registrant Last Name') ?>" class="input-text" id="lname2" />
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="fieldset">
    <h2 class="legend"><?php echo $this->__('Shipping Address'); ?></h2>
    <ul class="form-list">
        <li class="fields wide">
            <?php echo $this->__('You can select shipping address from your <a href="%s">address book</a> now or fill it later. Please note - if you do not provide shipping address, gift buyers will have to enter shipping information themself.', $this->getUrl('customer/address')); ?>
            <br />
            <?php echo $this->getAddressesHtmlSelect() ?>
       </li>
    </ul>
</div>
<?php if($this->showPrivacySettings()): ?>  
<div class="fieldset">
    <h2 class="legend"><?php echo $this->__('Privacy Settings'); ?></h2>
    <ul class="form-list">
<?php if(Mage::helper('adjgiftreg')->usePasswordForRegistries()): ?>
        <li class="fields">
            <div>
                <div class="field">
                    <label for="password"><?php echo $this->__('Password') ?></label>
                    <div class="input-box">
                        <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="validate-password input-text" value="<?php echo $this->htmlEscape($_e->getPass()) ?>" />
                    </div>
                </div>
                <div class="field">
                    <label for="confirmation"><?php echo $this->__('Confirm Password') ?></label>
                    <div class="input-box">
                        <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="validate-cpassword input-text" value="<?php echo $this->htmlEscape($_e->getPass()) ?>" />
                    </div>
                </div>
            </div>
        </li>
<?php endif; ?>
<?php if(Mage::helper('adjgiftreg')->usePrivateStatusForRegistries()): ?>
        <li class="fields">
            <div>
                <input type="checkbox" name="search_allowed" title="<?php echo $this->__('Show in Search Results') ?>" value="1" id="search_allowed" <?php if($_e->getSearchAllowed() || !$_e->getId()): ?> checked="checked"<?php endif ?> />
                <label for="search_allowed"><?php echo $this->__('Show in Search Results') ?></label>
            </div>
        </li>
<?php endif; ?>
    </ul>
</div>
<?php endif; ?>  
<div class="buttons-set">
    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    <p class="back-link"><a href="<?php echo $this->getUrl('gifts/*/list') ?>"><small>&laquo; </small><?php echo $this->__('All My Events') ?></a></p>
    <button class="button" title="Save" type="submit"><span><span><?php echo $this->__('Save Event') ?></span></span></button>
</div>
    
</form>
<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);
//]]>
</script>