<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
$_events = $this->getEvents(); ?>
<div class="page-head"> 
    <h3><?php echo $this->getTitle() ?></h3>
</div>
<?php if (sizeof($_events->getItems()) > 0 ): ?>
<?php echo $this->getPagerHtml() ?> 
 <?php foreach ($_events as $_e): ?>
    <p><a href="<?php echo $this->getViewUrl($_e)?>"><?php echo $_e->getFullTitle() ?></a>
    <br/>Event Date: <?php echo $this->formatDate($_e->getDate(), $_e->getDateFormat())?></p>
    <br/>
<?php endforeach; ?>
<?php echo $this->getPagerHtml() ?> 
<?php else: ?>
    <p><?php echo $this->__('Sorry, no gift registries has been found. Please check your search criterias.'); ?></p>
<?php endif; ?>