<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('gifts/*/result') ?>" method="get" id="form-gift-search">
<div class="fieldset">
    <h4 class="legend"><?php echo $this->__('Event Details') ?></h4>
    <ul class="form-list">
        <li class="fields">
            <div class="field">
                <label for="fname"><?php echo $this->__('First Name') ?></label>
                <div class="input-box"> 
                    <input name="fname" id="fname" value="" title="<?php echo $this->__('First Name') ?>"  class="input-text" type="text" />
                </div>
            </div>
           
            <div class="field">
                <label class="required" for="lname"><em>*</em><?php echo $this->__('Last Name') ?></label>
                <div class="input-box"> 
                    <input name="lname" id="lname" value="" title="<?php echo $this->__('Last Name') ?>"  class="input-text required-entry" type="text" />
                </div>
            </div>
        </li>
        
        <li class="fields">  
            <div class="field">
                <label for="mon"><?php echo $this->__('Month') ?></label>
                <div class="input-box"> 
                    <select id="mon" name="mon" title="<?php echo $this->__('Month') ?>">
                       <option value="0"><?php echo $this->__('Please select event month') ?></option>
                       <?php foreach($this->getOptionMonths() as $k=>$v):?>
                        <option value="<?php echo $k ?>"><?php echo $this->htmlEscape($v) ?></option>
                       <?php endforeach; ?>
                    </select>                
                </div>
            </div>
        </li> 
    </ul>
</div>
    <div class="buttons-set">
        <a class="left" href="<?php echo $this->getUrl('gifts/*/popular') ?>"><?php echo $this->__('Check the most popular gifts ...') ?></a>
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <button class="button" title="<?php echo $this->__('Find Registry!') ?>" type="submit"><span><span><?php echo $this->__('Find Registry!') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
    var dataForm = new VarienForm('form-gift-search', true);
</script>
<br />