<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
$_e = $this->getEvent(); ?>
<div class="page-head button-level">
    <h3><?php echo $this->getTitle() ?></h3>
    <?php echo $this->getChildHtml('emenu')?> 
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php if($_e->getEmails()) : ?>
<?php echo $this->__('The gift registry has already sent to this adresses:') ?> 
<?php echo join(', ', $_e->getEmails()) ?> 
<?php endif; ?>
<form action="<?php echo $this->getUrl('gifts/*/send') ?>" id="form-gift-sharing" method="post">
<input type="hidden" value="<?php echo $_e->getId() ?>" name="id" />
<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
<fieldset class="group-select">
    <h4 class="legend"><?php echo $this->__('Sharing Information') ?></h4>
    
    <?php echo $this->getLinkNotice();?>
<br/><br/>
    
    <ul class="form-list">
        <li>
            <label for="email_address"><?php echo $this->__('Email addresses, separated by commas') ?> <span class="required">*</span></label><br/>
            <textarea name="emails" cols="60" rows="5" class="validate-emails required-entry"><?php echo $this->getFormData('emails') ?></textarea>
        </li>
        <li>
            <label for="message"><?php echo $this->__('Message') ?></label><br/>
            <textarea id="message" name="message" cols="60" rows="5"><?php echo $this->getFormData('message') ?></textarea>
        </li>
    </ul>
</fieldset>
<div class="buttons-set">
    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    <button class="button btn-share" title="<?php echo $this->__('Share') ?>" type="submit"><span><span><?php echo $this->__('Share') ?></span></span></button>
</div>

<div class="buttons-set">
    <a href="<?php echo $this->getUrl('gifts/*/list')?>" class="left">&laquo; <?php echo $this->__('All My Events')?></a>
</div>

</form>
<script type="text/javascript">
//<![CDATA[
Validation.addAllThese([
    ['validate-emails', '<?php echo $this->__('Please enter a valid email addresses, separated by commas. For example johndoe@domain.com, johnsmith@domain.com.') ?>', function (v) {
                if(Validation.get('IsEmpty').test(v)) {
                    return true;
                }

                var valid_regexp = /^[a-z0-9\._-]{1,30}@([a-z0-9_-]{1,30}\.){1,5}[a-z]{2,4}$/i;
                var emails = v.split(',');

                for (var i=0; i<emails.length; i++) {
                    if(!valid_regexp.test(emails[i].strip())) {
                        return false;
                    }
                }

                return true;
            }]
]);
var dataForm = new VarienForm('form-gift-sharing', true);
//]]>
</script>