<?php
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     iVswWldT67nnLz2HBq4Um0pXfKHCOk8d3Yav6a7rCA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
$_thanks = $this->getThanks(); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php if (sizeof($_thanks->getItems()) > 0 ):    ?>
    <table cellspacing="0" class="data-table" id="my-gifts-table">
    <col />
    <col />
    <col width="50"/>
    <col width="50"/> 
        <thead>
            <tr>
                <th><?php  echo $this->__('Giver Name') ?></th>
                <th><?php echo $this->__('Gift') ?></th>
                <th><?php echo $this->__('Qty') ?></th>
                <th><?php echo $this->__('Ordered On') ?></th>
               <?php  if($this->isMessagesAvailable()){?>
                <th><?php echo $this->__('Gift message') ?></th>
                <?php } ?>
                
            </tr>
        </thead>
        <tbody>
        <?php ; $order_id = -1; ?>
        <?php $_odd = ''; ?>
            <?php foreach ($_thanks as $_t):        
            ?>
                <tr class="<?php echo ($_odd = ($_odd ? 'odd' : '')) ?>">
                    <td><?php echo $_t->getGiverName() ?></td>
                    <td><?php echo $_t->getProductName() ?></td>
                    <td><?php echo $_t->getQty() ?></td>
                    <td><?php echo $this->formatDate($_t->getPurchasedAt()) ?> </td>
                       <?php if($this->isMessagesAvailable()){?>
                    <td > <div><?php echo $_t->getOrderItemGiftMessage() ?></div><div><?php echo $_t->getOrderGiftMessage() ?></div></td>
                      <?php } ?>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<script type="text/javascript">decorateTable('my-gifts-table')</script>
<?php else: ?>
    <p><?php echo $this->__('Currently there are no purchased gifts'); ?></p>
<?php endif; ?>