﻿<!--
/**
 * Gift Registry
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Giftreg
 * @version      2.2.11
 * @license:     n/a
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
--><!--@subject Notification: {{var message}}@-->

{{var message}}
<br/>

Nome della lista {{var title}},
<br/>

URL esterno: {{var frontend_url}}
<br/>

URL interno: {{var backend_url}}
<br/>

Data (a-m-g): {{var date}}