<?php $_items = $this->getReviewsCollection()->getItems();?>
<div class="box-collateral box-reviews" id="customer-reviews">
    <?php if (count($_items)):?>
        <div class="review-heading">
            <h2>
                <?php echo $this->__('Reviews') ?>
            </h2>
        </div>
        <?php foreach ($_items as $_review):?>
            <?php $_votes = $_review->getRatingVotes(); ?>
            <div class="review-cell">
                <?php if (count($_votes)): ?>
                    <div class="ratings-table">
                    <?php foreach ($_votes as $_vote): ?>
                        <div class="rating-box">
                            <div class="rating" style="width:<?php echo $_vote->getPercent() ?>%;"></div>
                        </div>
                    <?php endforeach; ?>
                    </div>
                <?php endif; ?>

                <!-- title -->
                <a class="review-title" href="<?php echo $this->getReviewUrl($_review->getId()) ?>">
                    <?php echo $this->escapeHtml($_review->getTitle()) ?>
                </a>

                <div class="review-date"><?php echo $this->__('%s', date("F d, Y.", strtotime($_review->getCreatedAt()))) ?></div>

                <div class="review-content">
                    <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
                </div>
                <div class="review-meta">
                    <?php echo $this->__('%s', $this->escapeHtml($_review->getNickname())) ?>

                </div>
            </div>
        <?php endforeach; ?>

    <?php elseif($this->getParentBlock()): ?>
        <?php echo $this->getParentBlock()->getReviewsSummaryHtml($this->getProduct(), 'short', true)?>
    <?php endif;?>
    <?php echo $this->getChildHtml('review_form') ?>
</div>
