/**
 * @category   Sbridge
 * @package    Sbridge_Moreview
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 
.sbmoreview 
{
    opacity:0;
    position: absolute;
    transition: all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
}
.product-image:hover .sbmoreview
{
    opacity:1;
}
.product-image:hover .sbview
{
    opacity:0;
}