#loadingBox_RA {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1000;
	display: none;
	box-sizing: content-box;
}

#loadingBox_RA div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url(../css/fancybox/fancybox.png);
	box-sizing: content-box;
}


