img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
#page{
	width: 100%;
	min-width:1024px;
	margin: 0 auto;
	/*background-color: rgb(38,234,201);*/
}

#content{
	width: 1106px;/* CENTER THE CONTENT */
	margin: 0 auto; /* CENTER THE CONTENT */
	margin-bottom: 0px;	
}

/*Responsive*/
@media only screen and (min-width:768px) and (max-width:1023px){
	#content{width:100%;}
	#wrapper{width:100% !important;}
	#wrapper #container{width:100%;}
	#fancybox-outer{width:100%;}
	
	
	.flexslider .slides img{height:256px; width:53%;}
}

@media only screen and (max-width: 1200px) {
	#content{width:100%;}
	#wrapper{width:100% !important;}
	#wrapper #container{width:100%;}
	
}

@media only screen and (max-width: 767px) {
	.skip-link{font-size:9px;}
	#container li{width:49%;}
	#container li img{width:100% !important;}
	
	
}

@media only screen and (min-width:735px) and (max-width:737px){
	#container li{width:50%;}
	}
	
	
 @media only screen and (min-width: 320px) and (max-width: 479px) {
.skip-link{font-size:7px !important;}
}


@media only screen and (min-width:639px) and (max-width:641px){
	.skip-link{font-size:10px !important;}
	
}


