<div class="apa-col-right">
    <h2 class="h-lead">The Story Behind</h2>
    <h1 class="h-huge">Apa Beauty</h1>

    <p class="p-transforming">Apa Beauty is transforming the way people think about their smiles with a revolutionary new line of oral care cosmetics. Founded by renowned cosmetic dentist Dr. Michael Apa, Apa Beauty’s unique approach combines the latest advances in oral care research with the quality ingredients and streamlined design of a luxury beauty brand. The result is a line of simple, effective oral care and beauty products that are engineered to enhance your smile, gentle enough to use every day, and designed to fit beautifully into your lifestyle.</p>

    <div class="dr-apa-gel">

    </div>

    <div class="prod-under-dr-apa-1">
        <img src="{{media url="wysiwyg/about/white-pen.jpg"}}" alt="" />
    </div>
</div>

<div class="apa-col-left">
    <img class="pull-right" src="{{media url="wysiwyg/about/product-top-left.jpg"}}" alt="" />

    <blockquote class="desktop">
        A great smile is a beauty essential. The right<br/> oral care and beauty regimen will not only strengthen<br/>and protect the health of your teeth, it will<br/>bring out the natural beauty of your smile.
            <div class="quote-footer">—dr. michael apa</div>
    </blockquote>

    <blockquote class="not-desktop">
        A great smile is a beauty essential. The right oral care and beauty regimen will not only strengthen and protect the health of your teeth, it will bring out the natural beauty of your smile.
            <div class="quote-footer">—dr. michael apa</div>
    </blockquote>

    <p class="p-unable">Unable to find the right products to recommend to his clientele, Dr. Apa set out to create them. His Apa Beauty line offers both a total-care and total-beauty effect—from a whitening toothpaste that helps rebuild your enamel, to a rejuvenating lip gloss that makes your teeth look whiter. His groundbreaking formulations make use of powerful ingredients that help strengthen your teeth over time as well as glamorous tricks of the trade that provide an instant pop of radiance. Imbued with Dr. Apa’s passion for art, architecture and fashion, each product is designed to elevate your daily routine and be a centerpiece on your vanity.</p>
</div>

<div class="hero-break">
    <h2 class="h-lead">Dr. Michael Apa</h2>
    <h1 class="h-huge">Committed to Health.</h1>
    <h1 class="h-huge">Inspired by Beauty.</h1>
</div>

<div class="apa-col-left">

    <div class="dr-apa-white-gel">

    </div>

    <div class="three-things">
        <img src="{{media url="wysiwyg/about/three-things.jpg"}}" alt="" />
    </div>

</div>

<div class="apa-col-right many-para">
    <p>It’s this simple, straightforward dedication to both health and aesthetics that has made Dr. Michael Apa a preeminent name in cosmetic dentistry.</p>

    <p>It led him to establish the first undergraduate aesthetics program at New York University (NYU) College of Dentistry, becoming a game changer in the field while still in his second year of school. Soon after graduating, he was lecturing about advances in cosmetic dentistry to dentists around the world. He still regularly returns as a professor to the program he started at NYU, which has since been adopted by 30 other dental schools.</p>

    <p>Directly out of dental school, Dr. Apa joined the top cosmetic dentistry office in New York. He continued to build his reputation, drawing high-profile clients across the country around internationally, including members of royal families, and eventually expanded his practice to Dubai.</p>

    <p>Today he is a leading authority on cosmetic dentistry, the dentist of record for the city’s top modeling agencies, and is frequently featured on national TV shows and quoted in fashion and beauty magazines around the globe.</p>

    <p>For Dr. Apa, aesthetics is a way of life. A lover of fashion, art and the downtown architecture of his native New York, Dr. Apa’s personal quest for beauty inspires his practice, and it was following this passion that the idea for Apa Beauty was born.</p>

    <p>Always seeking to provide his patients with the best care, his extensive research of over-the-counter products left him wanting more. He envisioned products that had better ingredients and were easy to use properly... products that would result in more beautiful smiles and that were beautiful themselves... products that you’d be proud to keep on your vanity.</p>

    <p>Apa Beauty is an extension of Dr. Apa’s lifelong passion for beauty and his life’s work of making simple, effective changes to improve your smile. It’s this straightforward and inspired approach to aesthetics that earned him the respect of the industry at a young age, and continually earns him the loyalty of the most discerning clients. It’s the foundation on which he has built a thriving practice, a worldwide following, and now, a line of exemplary oral care cosmetics.</p>
</div>