.category-about .col-main,
.category-radiance-care .col-main,
.category-daily-foundation-care .col-main {

    width: 1100px;

    @include bp(max-width, 1100px) {
        width: auto;
    }

    // hide page title
    .page-title {
        display: none;
    }

    .step-title {
        font-family: $f-sans;
    }

    // columns
    .about-col-left {
        float: left;
        width: 57%;
    }

    @include bp(max-width, $bp-medium) {
        .about-col-left {
            width: 100%;
            float: none;

            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    .about-col-right {
        float: right;
        width: 43%;
    }


    @include bp(max-width, $bp-medium + 1) {
        .about-col-right {
            width: 100%;
            float: none;
        }
    }

    p {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .h-lead {
        font-size: 22px;
        font-family: $f-stack-special;
        margin-bottom: 0;
    }
    .h-huge {
        font-size: 60px;
        font-family: $f-stack-sans;
        line-height: 54px;
        margin-bottom: 30px;
        margin-left: -3px;
        letter-spacing: 2px;
    }

    // blockquote
    blockquote {
        @include clearfix();
        float: right;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid $c-mint;
        //        width: 450px;
        margin-right: 40px;
        margin-top: -59px;
        padding: 22px;
        font-size: 13px;
        font-family: $f-stack-special;

        &:before {
            content: url(../images/blockquote.png);// no-repeat;
            position: relative;
            top: -92px;
            left: -43px;
            float: left;
            height: 0;
            width: 0;
        }


        .quote-footer {
            font-family: $f-stack-sans;
        }
    }

    @include bp(max-width, $bp-medium) {
        blockquote {
            width: 100%;
            margin-right: 0;
            margin-top: 0;
        }
    }

    .hero-break {
        @include clearfix();
        text-align: center;
        margin: 0 auto;
        padding: 40px 0;

        .h-huge {
            margin-bottom: -10px;
        }
    }

    @include bp(max-width, $bp-medium) {
        .hero-break {
            .h-huge {
                font-size: 48px;
                margin-bottom: 0;
            }
        }
    }


    .image-stack {
        position: relative;
        left: 0;
        top: 0;
    }

    // paragraphs
    p.p-transforming {
        width: 90%;
    }

    p.p-unable {
        width: 350px;
        text-align: right;
        float: right;
        margin-right: 80px;
        padding-top: 40px;
    }

    @include bp(max-width, $bp-medium) {
        p.p-unable {
            width: 100%;
            text-align: left;
            float: right;
            margin-right: 0;
            padding-top: 40px;
        }
    }

    // dr apa 1
    .dr-apa-1 {
        margin-top: 20px;

        #gel-bkg {
            position: absolute;
            left: 260px;
            top: -21px;
        }
        #dr-apa-1 {
            z-index: 1;
            position: relative;
            top: 20px;
        }
    }

    // dr apa 2
    .dr-apa-2 {
        margin-top: 20px;

        #gel-bkg {
            position: absolute;
            left: -40px;
            top: 130px;
        }
        #dr-apa-2 {
            z-index: 1;
            position: relative;
            top: 20px;
            float: right;
            margin-right: 40px;
        }
    }

    @include bp(max-width, $bp-medium) {
        .dr-apa-1 {
            #gel-bkg {
                display: none;
            }
            img {
                width: 100%;
            }
        }
        .dr-apa-2 {
            #dr-apa-2 {
                margin-right: 0;
            }
            #gel-bkg {
                display: none;
            }
        }
    }

    .three-things {
        clear: both;
        z-index: 10;
        position: relative;
        background: white;
        margin-right: 76px;
        margin-top: -70px;
        float: right;
        width: 386px;

        .h-huge {
            margin-bottom: 0;
            text-align: right;
            float: right;
        }

        ul {
            float: right;
            width: 64%;

            li {
                font-family: $f-stack-special;
                margin-bottom: 10px;
                font-size: 13px;
                text-transform: uppercase;
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media only screen and (min-width: $bp-small + 1) and (max-width: $bp-medium) {
        .three-things {
            margin: 0 auto -100px;
            float: none;
            top: -135px;
        }
    }

    @include bp(max-width, $bp-small) {
        .three-things {
            width: 100%;
            margin-right: 0;
            padding: 20px 0;

            .number-three {
                left: 10px;
            }

            .h-huge {
                font-size: 48px;
            }

            ul {
                width: 50%;
            }
        }

        .many-para {
            clear: both;
            margin-top: 20px;
        }
    }

    @include bp(max-width, $bp-medium) {
        .many-para {
            clear: both;
            margin-top: 20px;
        }
    }

    .number-three {
        position: absolute;
        top: 100px;
        left: 30px;
    }

    .prod-under-dr-apa-1 {
        clear: both;
        margin-top: 37px;
        margin-left: -76px;
    }

    @include bp(max-width, $bp-medium) {
        .prod-under-dr-apa-1 {
            margin-left: 0;

            img {
                width: 100%;
            }
        }
    }

    // helpers
    .image-stack {
        position: relative;
        left: 0;
        top: 0;
    }

    .pull-right {
        float: right;

        &:after {
            @include clearfix();
        }
    }
}

.category-radiance-care .col-main,
.category-daily-foundation-care .col-main {

    .about-col-left {
        width: 45%;
        clear: left;
        text-align: right;
        padding-left: 49px;
        padding-top: 5px;

        .page-heading {
            text-align: left;
            width: 85%;
            float: right;

            p {
                width: 93%;
            }
        }

        @include bp(max-width, $bp-medium) {
            .page-heading {
                text-align: left;
                width: 100%;
                float: none;
                padding-bottom: 40px;

                p {
                    width: 100%;
                }
            }
        }

        @media only screen and (min-width: 480px) and (max-width: $bp-medium) {
            .page-heading {
                p {
                    width: 75%;
                }
            }
        }

        .step-title {
            text-align: right;
        }
    }

    .about-col-right {
        width: 47.5%;
        clear:right;
        padding-left: 25px;

        .step-title {
            text-align: left;
        }
    }

    .about-full {
        .white-duo-radiance {
            //width: 100%;
            margin: 0 auto;
        }
    }

    @include bp(max-width, $bp-medium ) {
        .about-col-left,
        .about-col-right {
            width: 100%;
            float: none;
            padding-left: 0;

            .page-heading {
                .h-huge {
                    line-height: 46px;
                }
            }
        }
    }

    .about-full {
        width: 100%;
        @include clearfix;

        img {
            //margin: 50px auto 0;
        }

        @include bp(max-width, $bp-medium) {
            img {
                width: 100%;
            }
            .radiance-blue-lip-shine {
                width: auto;
            }
        }
    }

    blockquote {
        margin: 55px 31px 0 0;
        float: none;
    }
    .step-title {
        font-size: 30px;
        padding: 30px 0 15px;
        clear: both;
        margin: 0;
        line-height: 30px;
        letter-spacing: 1px;
    }

    @include bp(max-width, $bp-xsmall) {
        .step-title {
            font-size: 26px !important;
        }
    }

    .product-title {
        font-family: $f-stack-special;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 23px;
    }

    .radiance-step-one {
        p {
            width: 80%;
            float: right;
        }
    }

    .radiance-step-three {
        p {
            width: 73%;
            float: right;
        }
    }

    .radiance-step-four {
        p {
            width: 80%;
        }
    }

    .experience-loofah {
        margin-top: 73px;
        float: right;
        clear: right;

        img#radiance-number-one {
            width: auto;
            margin-top: 55px;
            margin-right: 20px;
            margin-left: 30px;
            float: right;
        }

        #radiance-loofah-img {
            float: right;
        }

        img {
            width: auto;
        }
    }

    @include bp(max-width, $bp-medium) {
        .experience-loofah {

            #radiance-number-one {

            }
        }
    }

    @include bp(max-width, 375px) {
        img#radiance-number-one {
            margin-left: 15px !important;
        }
    }

    .experience-tooth-gloss {

    }

    .experience-radiance-apa-white-duo {
        margin-top: 100px;
        margin-bottom: -8px;
    }

    .experience-step-three {
        float: right;
        margin-top: 86px;
        margin-right: 25px;
        margin-bottom: -5px;
    }

    .radiance-blue-lip-shine {
        margin: -580px auto 175px 47%;
    }

    .radiance-step-three {
        .radiance-blue-lip-shine {
            display: none;
        }
    }

    //@include bp(max-width, $bp-medium) {
    @media only screen and (max-width: $bp-medium) and (min-width: $bp-xsmall) {
        .h-huge {
            font-size: 48px;
        }

        .radiance-step-one {
            .step-title {
                width: 50%;
                float: right;
                margin-right: 0;
                margin-top: -83px;
            }

            .product-title {
                float: right;
                clear: right;
                margin-right: 0;
            }

            p {
                width: 50%;
                margin-right: 0;
            }
            a {
                margin-right: 0;
            }
        }

        .experience-step-three {
            margin-top: 24px;
            margin-right: 0px;
        }
        .radiance-step-three {
            .step-title,
            .product-title,
            p,
            a {
                margin-right: 0;
            }
        }

        .experience-radiance-apa-white-duo {
            margin-bottom: 10px;
        }

        .experience-tooth-gloss {
            margin-top: 28px;
        }

        .about-full {
            .radiance-blue-lip-shine {
                display:none;
            }
        }

        .radiance-step-three {
            width: 65%;
            position: relative;

            .radiance-blue-lip-shine {
                display: inherit;
                width: auto;
                position: absolute;
                top: 0;
                right: -160px;
            }

            p {
                width: 76%;
                float: right;
            }
        }

        .radiance-step-four {
            margin-top: -90px;

            p {
                width: 55%;
            }
        }
    }
}


.category-daily-foundation-care .col-main {
    .text-left {
        text-align: left;
    }

    .foundation-1 {
        padding-top: 75px;
    }

    @include bp(max-width, $bp-medium) {
        .foundation-1 {
            padding-top: 50px;
        }
    }

    .foundation-2 {
        float: none;
        width: 100%;
        margin-top: 107px;

        #foundation-white-toothpaste {
            margin: 0 0 0 166px;
        }
    }

    #foundation-number-2 {
        float:right;
        margin-top: -95px;
        margin-right: -40px;
    }

    .foundation-4 {
        float: right;
        clear: right;
        margin-top: 30px;
        margin-right: -40px;
    }

    .apa-pink {
        padding: 72px 0 0 47px;
        margin-right: -40px;

        img {
            width: 100%;
        }
    }

    @include bp(max-width, $bp-medium) {
        .apa-pink {
            padding: 0 !important;
            margin-right: 0 !important;
        }
    }

    .foundation-step-one {
        position: relative;

        p {
            width: 80%;
        }
    }
    .gold-toothbrush {
        position: absolute;
        left: -115px;
    }

    .foundation-3-image {
        padding-top: 80px;
        padding-bottom: 65px;

        img {
            margin: 0;
        }
    }

    @include bp(max-width, $bp-medium) {
        .foundation-3-image {
            padding-top: 110px;
            padding-left: 45px;
        }
    }

}

.category-radiance-care {
    .about-col-left {
        .step-title,
        .product-title,
        p,
        a {
            margin-right: 25px;
        }
    }
    .step-title {
        letter-spacing: 1px;
    }

    .experience-tooth-gloss {
        margin-top: -53px;
        margin-left: -44px;
    }

    .experience-radiance-2 {
        margin-top: -33px;
        margin-bottom: -4px;
    }
}

.step-title-desktop {
    display: block;
}
.step-title-mobile {
    display: none;
}

@include bp(max-width, $bp-xsmall) {
    .foundation-3-image {
        img {
            width: 80%;
        }
    }
    .foundation-step-three .found-step-3 {
        padding-top: 80px !important;
    }
    .foundation-step-three-collateral {
        .step-title {
            font-size: 26px !important;
        }
        a.button {
            font-size: 17px !important;
        }

        .step-title-desktop {
            display: none;
        }
        .step-title-mobile {
            display: block;
        }
    }

    .apa-pink {
        clear: both;
    }
}

@include bp(max-width, $bp-medium) {
    .gold-toothbrush {
        position: inherit !important;
        left: 0px !important;

        img {
            margin: 0 auto !important;
        }

    }
}

.radiance-step-two {
    p {
        width: 60%;
    }
}

@include bp(max-width, 375px) {
    .radiance-step-one {
        p {
            width: 100%;
            min-width: 100% !important;
        }
    }
}

@include bp(max-width, $bp-medium) {
    .radiance-step-one {
        p, a {
            float:right;
            clear: right;
        }
        p {
            width: 55%;
            min-width: 350px;
        }
    }

    .radiance-step-two {
        position: relative;

        .experience-radiance-2 {
            padding-top: 110px;
        }

        .experience-tooth-gloss {
            position: absolute;
            right: 0;
        }

        .step-title {
            position: absolute;
        }

        .product-title {
            position: relative;
            margin-top: 100px;
        }

        p {
            position: absolute;
            width: 50%;
        }
        a.button {
            position: absolute;
            margin-top: 70px;
        }
    }

    .radiance-step-three {
        margin-top: 100px;
    }
}

@include bp(max-width, $bp-medium) {
    .experience-loofah {
        #radiance-number-one {
            margin-top: 0px !important;
            margin-right: 8px!important;
        }
        #radiance-loofah-img {
            float: none !important;
            margin-right: 353px !important;
            margin-top: -15px !important;
            width: 50% !important;
        }
    }

}

@media only screen and (max-width: $bp-xsmall) {

    .about-col-left {
        .step-title,
        .product-title,
        p,
        a {
            margin-right: 0 !important;
        }
    }

    .experience-loofah {
        width: 100%;

        #experience-loofah-img {
            float: left;
        }

        .step-title {
            width: 67%;
            margin-top: 0;
        }
    }

    .radiance-step-two {
        .experience-tooth-gloss {
            position: relative;
            width: 100%;
            float: none;
            margin-top: 40px;
            margin-left: 0;

            img {
                width: 100%;
            }
        }

        .experience-radiance-2 {
            padding-top: 50px;
        }

        p, a {
            position: relative;
        }

        p {
            width: 100%;
        }

        .product-title {
            margin-top: 0;
        }

        .step-title {
            position: relative;
        }

        a.button {
            position: relative;
            margin-top: 0;
        }
    }

    .radiance-step-three {
        margin-top: 40px;
        position: relative;

        .experience-step-three {
            margin-top: 20px;
        }

        p {
            width: 50%;
            float: right;
        }

        a.button {
            float: right;
            clear: right;
        }

        .radiance-blue-lip-shine {
            display: inherit !important;
            position: absolute;
            top: 0;
            left: 0;
            width: auto !important;
        }

        @include clearfix;
    }

    .about-full {
        margin-top: 40px;

        .radiance-blue-lip-shine {
            display: none;
        }
    }
}

.foundation-step-two-content {
    margin-right: -40px;

    .step-title {
        font-size: 30px;
        padding: 30px 0 15px;
        clear: both;
        margin: 0;
        line-height: 26px !important;
        letter-spacing: 0px !important;
    }

    p {
        float: right;
        width: 80%;
    }
}

@media only screen and (max-width: $bp-medium) {
    .category-daily-foundation-care {
        .h-huge {
            font-size: 48px !important;
        }
    }

    .foundation-step-one {
        .gold-toothbrush {
            width: 45%;
            float: left;
        }
        .step-title {
            padding: 40px 0 15px !important;
            clear: inherit !important;
            font-size: 26px !important;  //prevent overflow;
            line-height: 36px !important;
            letter-spacing: 1px !important;
        }
    }



    .foundation-step-two {
        float: left !important;
        width: 50% !important;
        position: relative;

        #foundation-number-2 {
            width: auto;
            margin: 0 !important;
        }

        .foundation-step-two-content {
            margin-right: 0;
        }

        #foundation-white-toothpaste {
            position: absolute;
            top: -75px;
            right: -77%;
            width: auto;

        }

        @include clearfix;
    }

    .foundation-step-three {
        clear: both !important;

        .foundation-3-image {
            width: 44%;
            float: left;
        }

        .found-step-3 {
            padding-top: 310px;
        }
        .foundation-step-three-collateral {
            float: right;
            width: 56%;

            .step-title {
                letter-spacing: 0px !important;
                padding: 38px 0 15px !important;
            }

            p {
                padding: 12px 0 24px;
            }
        }
    }

    .foundation-step-four {
        p {
            float:right;
            width: 55%;
        }
        a.button {
            float: right;
            clear: right;
        }
    }
}

@include bp(max-width, $bp-small) {
    #foundation-white-toothpaste {
        right: -100% !important;
    }
    .foundation-3-image {
        padding-left: 0 !important;
    }
}

.foundation-step-four {
    .step-title {
        margin-right: -40px !important;
    }
    .product-title {
        margin-right: -40px !important;
    }
    p, a {
        margin-right: -40px !important;
    }
    a {
        @include clearfix;
        float: right;
    }
    p {
        float: right;
        width: 57%;
    }
}

@include bp(max-width, $bp-medium) {
    .foundation-step-four {
        .foundation-4 {
            margin-right: 0 !important;
        }
        .step-title {
            margin-right: 0px !important;
        }
        .product-title {
            margin-right: 0px !important;
        }
        p, a {
            margin-right: 0px !important;
        }
        p {
            float: right;
            width: 57%;
        }
    }
}

@media only screen and (min-width: $bp-medium + 1) and (max-width: 1099px) {
    #foundation-white-toothpaste {
        margin: 0 !important;
    }
    .about-col-left {
        padding-left: 0 !important;
    }

    .page-heading {
        width: 100% !important;

        p {
            width: 85% !important;
        }
    }
}

@include bp(max-width, 375px) {
    #foundation-white-toothpaste {
        position: absolute !important;
        top: 50px !important;
        right: -110px !important;
        width: 60% !important;
    }

    .radiance-step-three {
        .step-title {
            font-size: 26px !important;
        }
    }

    .foundation-step-one {
        a.button {
            float: right;
            width: 50%;
            font-size: 17px;
        }
    }
}

@media only screen and (min-width: 376px) and (max-width: $bp-xsmall) {

    #foundation-white-toothpaste {
        position: absolute !important;
        top: 0 !important;
        right: -100% !important;
        width: 67% !important;
    }

    .foundation-3-image {
        img {
            width: 80%;
        }
    }
    .found-step-3 {
        padding-top: 45px;
    }

    .foundation-step-four {
        clear: both !important;
    }
}

@include bp(max-width, $bp-medium) {
    .desktop {
        display: none !important;
    }
    .not-desktop {
        display: inherit !important;
    }
}

@include bp(min-width, $bp-medium + 1) {
    .desktop {
        display: inherit !important;
    }
    .not-desktop {
        display: none !important;
    }
}