<div class="apa-col-left" id="foundation-title">
    <div class="page-heading">
        <h2 class="h-lead">Apa Beauty</h2>
        <h1 class="h-huge">Daily</br>Foundation</br>Care</h1>

        <p class="">Your day begins and ends here, with a breakthrough oral care regimen that strengthens the health of your smile and multitasks as beauty products for results you will see. Use the complete lineup twice daily along with flossing for a total health and beauty effect. </p>
    </div>
</div>

<div class="apa-col-right" id="foundation-quote">
    <blockquote>
        A great smile is fundamental to the way you look and feel.With my Daily Foundation Care, I hope to bring the benefits of
        what I’ve learned in my practice into everyday oral care.
        <div class="quote-footer">—dr. michael apa</div>
    </blockquote>
</div>

<div class="apa-col-right" id="foundation-step-one">
    <div class="step-image">
        <img src="{{media url="wysiwyg/experience_foundation/foundation-gold-toothbrush.jpg"}}" alt="" />
    </div>
    <div class="step-copy">
        <div class="step-number">
            <img src="{{media url="wysiwyg/experience_radiance/foundation-one.jpg"}}" alt="" />
        </div>
        <h2 class="step-title">A Revolution<br/>In Sonic Power</h2>
        <div class="product-title">Apa Clean - Sonic Toothbrush</div>
        <p class="product-description">It’s the most important tool you’ll ever use. Why shouldn’t it also be the most beautiful? The cornerstone in the Foundation Care lineup, the Apa Clean Sonic Toothbrush is designed to make brushing the most powerful and elegant part of your routine. </p>
        <a class="button">SHOP THIS ITEM</a>
    </div>
</div>

<div class="apa-col-left" id="foundation-step-two">
    <div class="step-image">
        <img src="{{media url="wysiwyg/experience_foundation/foundation-white-toothpaste.jpg"}}" alt="" />
    </div>
    <div class="step-copy">
        <div class="step-number">
            <img src="{{media url="wysiwyg/experience_radiance/experience-2.jpg"}}" alt="" />
        </div>
        <h2 class="step-title">A Safer,<br/>Stronger Toothpaste</h2>
        <div class="product-title">Apa White Toothpaste</div>
        <p class="production-description">This cutting-edge formula features hydroxyapatite—it actually reinforces tooth enamel while it whitens, for a healthier smile above and below the surface. Micro-scrubbers polish away stains, while teeth get a makeover on the cellular level. </p>
        <a class="button">SHOP THIS ITEM</a>
    </div>
</div>


<div class="apa-col-right" id="foundation-step-three">
    <div class="step-image">
        <img src="{{media url="wysiwyg/experience_foundation/foundation-3-image.jpg"}}" alt="" />
    </div>
    <div class="step-copy">
        <div class="step-number">
            <img src="{{media url="wysiwyg/experience_foundation/foundation-3.jpg"}}" alt="" />
        </div>
        <h2 class="step-title step-title-desktop">Mouthwash Gets<br/>A Makeover</h2>
        <h2 class="step-title step-title-mobile">Mouthwash Gets A Makeover</h2>
        <div class="product-title">Apa White Rinse</div>
        <p class="production-description">The oral care essential gets boosted by hydroxyapatite and balances your pH levels for an off-the-charts clean. Use after brushing and flossing to complete the deep-cleansing portion of Foundation Care.</p>
        <a class="button">SHOP THIS ITEM</a>
    </div>
</div>

<div class="apa-col-left" id="foundation-step-four">
    <div class="step-image">
        <img src="{{media url="wysiwyg/experience_foundation/foundation-apa-pink.jpg"}}" alt="" />
    </div>
    <div class="step-copy">
        <div class="step-number">
            <img src="{{media url="wysiwyg/experience_radiance/experience-4.jpg"}}" alt="" />
        </div>
        <h2 class="step-title">The New Necessity</h2>
        <div class="product-title">Apa Pink</div>
        <p class="production-description">A groundbreaking addition to the daily regimen, and one of the first products of its kind. This special serum puts the final touch on a truly complete Foundation Care routine. Because nothing complements a white smile better than healthy, pink gums.</p>
        <a class="button">SHOP THIS ITEM</a>
    </div>
</div>
