<div class="about-col-left">
    <div class="page-heading">
        <h2 class="h-lead">Apa Beauty</h2>
        <h1 class="h-huge">Radiance<br/>Care</h1>

        <p class="">A stunning smile is as easy as 1,2,3...4 with this trio of high-performing daily beauty tools and megawatt whitening kit. Use as often as needed, following Foundation Care or as part of your regular beauty regimen. </p>
    </div>
</div>

<div class="about-col-right">
    <blockquote>
        A smile has the power to transform. I created Apa Beauty Radiance Care as an easy, effective way to transform the way you look and feel.
        <div class="quote-footer">—dr. michael apa</div>
    </blockquote>
</div>

<div class="about-col-left radiance-step-one">
    <div class="experience-loofah">
        <img id="radiance-number-one" src="{{media url="wysiwyg/experience_radiance/foundation-one.jpg"}}" alt="" />
        <img id="radiance-loofah-img" src="{{media url="wysiwyg/experience_radiance/foundation-loofah.jpg"}}" alt="" />
    </div>

    <h2 class="step-title">Prep your Pout<br/>for perfection</h2>

    <div class="product-title">Apa Lip Loofah</div>
    <p>This sugar-derived scrub soothes while it smoothes to reveal more supple lips. Your lipstick will look better too. Use at the start of your Radiance Care regimen to exfoliate and condition. </p>

    <a class="button">SHOP THIS ITEM</a>
</div>

<div class="about-col-right radiance-step-two">
    <div class="experience-tooth-gloss"><img src="{{media url="wysiwyg/experience_radiance/experience-radiance-tooth-gloss.jpg"}}" alt="" /></div>
    <div class="experience-radiance-2"><img src="{{media url="wysiwyg/experience_radiance/experience-2.jpg"}}" alt="" /></div>
    <h2 class="step-title">A Brilliant Idea<br/>Inspired by the Runway</h2>

    <div class="product-title">Apa Tooth Gloss</div>
    <p>The old modeling trick is reimagined in a breakthrough nourishing gloss. Instant dazzle, lasting benefits. The new must-have of smile brightening.</p>

    <a class="button">SHOP THIS ITEM</a>
</div>

<div class="about-col-left radiance-step-three">
    <div class="experience-step-three"><img src="{{media url="wysiwyg/experience_radiance/experience-3.jpg"}}" alt="" /></div>
    <h2 class="step-title">The Phenomenal<br/>Finishing Touch</h2>

    <div class="product-title">Apa Blue Lip Shine</div>
    <p>A gorgeous gloss with an optical advantage—it makes teeth look whiter with reflective blue crystals. Use alone or over lip color for a perfectly polished smile.</p>

    <a class="button">SHOP THIS ITEM</a>
    <img class="radiance-blue-lip-shine" src="{{media url="wysiwyg/experience_radiance/radiance-blue-lip-shine.jpg"}}" alt="" />
</div>


<div class="about-col-right radiance-step-four">
    <div class="experience-radiance-apa-white-duo"><img src="{{media url="wysiwyg/experience_radiance/experience-4.jpg"}}" alt="" /></div>
    <h2 class="step-title">A Breakthrough<br/>In Home Whitening</h2>

    <div class="product-title">Apa White Duo</div>
    <p>The centerpiece of the Apa Beauty line delivers a one-two punch of professional-strength power. Effective, invisible, extreme whitening.</p>

    <a class="button">SHOP THIS ITEM</a>
</div>

<div class="about-full">
    <img class="radiance-blue-lip-shine" src="{{media url="wysiwyg/experience_radiance/radiance-blue-lip-shine.jpg"}}" alt="" />
    <img class="white-duo-radiance" src="{{media url="wysiwyg/experience_radiance/experience-radiance-footer-pic.jpg"}}" alt="" />
</div>
