<style>
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 0;
        height: 0;
        margin-top: 0px;
        margin-bottom: 1%;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<!--
<div class="videoWrapper">
  <a href="{{store url=""}}">
    <iframe id="vzvd-2271002" title="vzaar video player" name="vzvd-2271002" src="//view.vzaar.com/2271002/player?border=false" frameborder="0" width="100%"></iframe>
  </a>
  <a href="{{store url=">
    <img src="{{skin url=""}}" alt="" width="1200" height="5" />
  </a>
</div>-->

<div class="videoWrapper">
    <a href="{{store url=""}}">
    <iframe src="//player.vimeo.com/video/120041385?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </a>
</div>


<div class="apa-row">
    <div class="col-50">
        <a href="#" data-target="#toggle1" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle1" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
    <div class="col-50">
        <a href="#" data-target="#toggle2" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle2" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
</div>

<div class="apa-row">
    <div class="col-33">
        <a href="#" data-target="#toggle3" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle3" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
    <div class="col-33">
        <a href="#" data-target="#toggle4" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle4" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
    <div class="col-33">
        <a href="#" data-target="#toggle5" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle5" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
</div>

<div class="apa-row">
    <div class="col-25">
        <a href="#" data-target="#toggle6" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle6" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
    <div class="col-25">
        <a href="#" data-target="#toggle7" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle7" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
    <div class="col-25">
        <a href="#" data-target="#toggle8" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle8" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
    <div class="col-25">
        <a href="#" data-target="#toggle9" class="caption">
            <img src="{{skin url="images/temp/APA_whiteDuo_01_595x595.jpg"}}" alt="" />
        </a>
        <div id="toggle9" class="cap-overlay">
            <h2>Apa White Duo</h2>
            <h3>Breakthrough in Home Whitening</h3>
        </div>
    </div>
</div>
<div class="carousel-container">
    <div class="block-title"><strong><span>The Apa Beauty Collection</span></strong></div>
    <div class="slider">
        {{block type="core/template" name="featured.carousel" template="apa/carousel.phtml"}}
    </div>
</div>