.hidden{
    opacity:0;
}
.post {
    opacity: 0;
}
.visible{
    opacity:1;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0;
    height: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.apa-row {
    width: 100%;
    margin-bottom: 0px;
}
#para1 {
    background-image: url("../images/temp/para1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    float: left;
    width:100%;
    height:650px;
}
#para2 {
    background-image: url("../images/temp/para2.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    float: left;
    width:100%;
    height:650px;
}
.left {
    float: left;
    height: 45%;
    margin: 5%;
    width: 40%;
}
.left > h2 {
    bottom: 0;
    font-weight: 400;
    margin-top: 83%;
}
h2 {
    font-weight: 400;
    text-transform:uppercase;
}
.center > h1 {
    padding-top: 22%;
}
.right {
    float: right;
    height: 80%;
    margin: 5%;
    width: 40%;
    text-align: center;
}
.right > h1, .center > h1 {
    font-size: 4em;
    font-weight: 300;
    line-height: 0.9em;
}
#full {
    background: #eee;
}
.wrap {
    max-width:1024px;
    margin:0 auto;
    background:#ddd;
    text-align: center;
}
.carousel-container {
    float: left;
    height: auto;
    text-align: center;
    width: 100%;
    padding:5% 0 6%;
}
.slider {
    margin: 0 auto;
    max-width: 1024px;
}
.instagram-container {
    float: left;
    height: auto;
    text-align: center;
    width: 100%;
    background:#eee;
    padding:5% 0 6%;
}
.block-title h2{
    margin-top: 6%;
}
.carousel-container .block-title strong, .instagram-container .block-title strong {
    font-size:20px;
}
@media (max-width: 1024px) {
    .left {
	float: left;
	height: 73%;
	width: 30%;
    }
    .left > h2 {
	bottom: 0;
	font-size: 20px;
	font-weight: 400;
	margin-top: 117%;
    }
    .right {
	width: 49%;
    }
    .right > h1, .center > h1 {
	font-size: 3.5em;
	font-weight: 300;
	line-height: 0.9em;
    }
}
@media (max-width: 800px) {
    .left {
	float: left;
	height: 43%;
	margin: 5%;
	width: 35%;
    }
    .right > h1, .center > h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 0.9em;
    }
}
@media (max-width: 800px) {
    #para1 {
	height:300px;
    }
    #para2 {
	height:300px;
    }
    .left {
	float: left;
	height: auto;
	margin: 0;
	width: 100%;
    }
    .left > h2 {
	font-size: 1em;
	font-weight: 400;
	margin-top: 20%;
	text-align: center;
    }
    .right {
	width: 100%;
	margin:0;
    }
    .right > h1, .center > h1 {
	font-size: 2.5em;
	font-weight: 300;
	line-height: 0.9em;
    }
}
.slick-slide img {
    width:87% !important;
}
