@media only screen and (max-width:1024px) {
	.right{width:66% !important;}
	.flexslider{width:100%;}
	.flexslider .slides{width:100%;}
	.flexslider .slides img{width:100%;}
	.light_box_wrap{width:100%; margin:0px; }
}




@media only screen and (max-width:768px) {
	
	.right{width:66% !important;}
	.light_box_wrap{width:100% !important; margin:0px !important;}
	.flexslider{width:85% !important; margin-left:30px;}
	.flexslider .slides{width:100%;}
	.flexslider .slides img{width:100% ;}
	.flex-direction-nav .flex-next{right: -49px;top: 24% !important;}
	.flex-direction-nav .flex-prev{left:-16px;top: 50% !important;}
	#fancybox-wrap div{width:600px !important;}
	#fancybox-content{width:600px !important;}
	
	
}




@media only screen and (max-width :767px){
	#top_wrap{width:100%; text-align:center; display:inline-block;}
	.title_image{width:100%; max-width:100px; }
	.title_image img{width:100px !important;}
	.break_line_01,.break_line_02{width:100%;}
	.p_source{text-align:center; width:100%;}
	.p_date{text-align:center;}
	#btn_wrap{width:100%; height:30px;}
	/*.right{width:54% !important;}*/
	.flexslider .slides li{display:none !important;}
	.flexslider .slides li.flex-active-slide{display:block !important;}
	.flex-direction-nav .flex-next{right: -54px; top: 50% !important; margin-top:-7px;height: 15px !important;}
	 .flex-direction-nav .flex-prev{left:-20px; top: 50% !important; margin-top:-7px;height: 15px !important;}
	.left{position:static; width:30% !important;}
	.right{position:static; width:100% !important;}
	
	
	
}


@media only screen and (max-width :479px){

.light_box_wrap{margin:0px;}
.left{position:static !important; float:left; display:block; width:75% !important;}
.right{width:90% !important;position:static !important; float:left; display:block; }
.flexslider .slides img{width:100% !important; float:left; }
.light_box_wrap{height:auto !important; float:left; width:100% !important;}

 .flexslider{float:left; width:90% !important; margin-left:18px;}
 .flex-direction-nav .flex-next{right:-47px; top: 50% !important; margin-top:-7px;height: 15px !important;}
 .flex-direction-nav .flex-prev{top: 50% !important; margin-top:-7px;height: 15px !important;}
 .title_image img{width:100px;}
}






