@media only screen and (max-width:1024px) {
	.right{width:63%;}
	.flexslider{width:100%;}
	.flexslider .slides{width:100%;}
	.flexslider .slides img{width:100%;}
	.light_box_wrap{width:100%; margin:0px; }
	
	.left_social{margin-bottom:20px !important;}
	.right_social{width:90% !important;}
}




@media only screen and (max-width:768px) {
	
	.right{width:60% !important;}
	.light_box_wrap{width:100% !important; margin:0px !important;}
	.flexslider{width:100%;}
	.flexslider .slides{width:100%;}
	.flexslider .slides img{width:100%;}
	.flex-direction-nav .flex-next{right: -49px;top: 24% !important;}
	.flex-direction-nav .flex-prev{left:-16px;top: 50% !important;}
	.left_social{margin-bottom:20px !important;}
	
	.right_social{width:87% !important;}
	.right_social .flex-direction-nav .flex-next{top:50% !important; right:-50px !important;}
	
	 .right_social .flex-direction-nav .flex-prev{left:-19px !important;}
}




@media only screen and (max-width :767px){
	#top_wrap{width:100%; text-align:center; display:inline-block;}
	.title_image{width:100%; max-width:100%; }
	.title_image img{width:100%;}
	.break_line_01,.break_line_02{width:100%;}
	.p_source{text-align:center; width:100%;}
	.p_date{text-align:center;}
	#btn_wrap{width:100%; height:30px;}
	/*.right{width:54% !important;}*/
	.flexslider .slides li{display:none !important;}
	.flexslider .slides li.flex-active-slide{display:block !important;}
	.flex-direction-nav .flex-next{right: -39px; top: 50% !important; margin-top:-7px;height: 15px !important;}
 .flex-direction-nav .flex-prev{left:2px; top: 50% !important; margin-top:-7px;height: 15px !important;}
	.left{position:static; width:100% !important;}
	.right{position:static; width:100% !important;}
	.right_social{width: 90%;}
	.right_social .flex-direction-nav .flex-prev{left:-15px !important;}
	.right_social .flex-direction-nav .flex-next{right:-48px !important;}
	
}


@media only screen and (max-width : 480px){

.light_box_wrap{margin:0px;}
.left{position:static !important; float:left; display:block; width:100% !important;}
.right{width:100% !important;position:static !important; float:left; display:block; width:100% !important; }
.flexslider .slides img{width:100% !important; float:left; }
.light_box_wrap{height:auto !important; float:left; width:100% !important;}

 .flexslider{float:left; width:100% !important;}
 .flex-direction-nav .flex-next{right: -39px; top: 50% !important; margin-top:-7px;height: 15px !important;}
 .flex-direction-nav .flex-prev{left:2px; top: 50% !important; margin-top:-7px;height: 15px !important;}
 .right_social{width: 88%;}
 .right_social .flex-direction-nav .flex-next{right:-49px !important;}
	a.skip-link{font-size:8px;} 
 
}

