<?php

    $products = Mage::getModel('catalog/category')->load(19)
      ->getProductCollection()
      ->addAttributeToSelect('*')
      ->addAttributeToFilter('status', 1)
      ->addAttributeToFilter('visibility', 4)
      ->setOrder('sort_order', 'ASC'); 

// $category = Mage::getModel('catalog/category')->load('Featured', 'name');
// $products = $category->getProductCollection();
// $products->setOrder('sort_order','DESC');
// $products->addAttributeToSelect('*');

$products->load();
?>

<?php if ($products->getSize()): ?>
    <?php foreach ($products as $_item): ?>
        <div class="item">
            <div class="product">
                <a href="<?php echo $_item->getProductUrl() ?>"
                   title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image"><img
                        src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(220) ?>"
                        width="220" height="220" alt="<?php echo $this->escapeHtml($_item->getName()) ?>"/></a>
            </div>
        </div>
    <?php endforeach ?>


<?php endif ?>
