<?php 
/**
 * Sumankcdotcom_AdvInstagram extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Sumankcdotcom
 * @package        Sumankcdotcom_AdvInstagram
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Post list template
 *
 * @category    Sumankcdotcom
 * @package     Sumankcdotcom_AdvInstagram
 * @author      Suman kc [SUMANKC.COM]
 */
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php 
    $post_type = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/post_type');
    $user_id = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/user_id');
    $access_token = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/access_token');
    $filter_post = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/filter_post');
    $limit = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/limit');
    $link_posts = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/link_posts');
    $caption = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/caption');
    $likes_count = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/likes_count');
    $comment_count = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/comment_count');

    $tagname = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/tag_name');
    $client_id = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/client_id');
    $resolution = Mage::getStoreConfig('sumankcdotcom_advinstagram/post_features/resolution');
    $filter_posts = Mage::getStoreConfig('sumankcdotcom_advinstagram/post/filter_posts');


function fetchData($url){
    $ch = curl_init();
    curl_setopt($ch, CURLOPT_URL, $url);
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
    curl_setopt($ch, CURLOPT_TIMEOUT, 20);
    $result = curl_exec($ch);
    curl_close($ch);
    return $result;
}

//echo("https://api.instagram.com/v1/users/{$user_id}/media/recent/?access_token={$access_token}&count=20");
$result = fetchData("https://api.instagram.com/v1/users/{$user_id}/media/recent/?access_token={$access_token}&count=20");
$result = json_decode($result);

?>
  <div id="instaslider" class="slider" >
<?php
foreach ($result->data as $post) {
	        echo '<div><div class="individual-post"><a class="instagram-unit" target="blank" href="'.$post->link.'">
        <img src="'.$post->images->low_resolution->url.'" width="140" />
</a></div></div>';
}
       ?>
       </div>
<script type="text/javascript">
  jQuery(document).ready(function() {
	  jQuery('.post').viewportChecker({
		  classToAdd: 'visible animated fadeIn', // Class to add to the elements when they are visible
		  offset: 100
	      });
      });
</script>
    
